workflows/[Golfers Unite] - Connect Botdog.json
{"createdAt":"2025-12-08T06:53:17.755Z","updatedAt":"2025-12-20T05:34:02.696Z","id":"BHgMlKBYjIZ6OU8O","name":"[Golfers Unite] - Connect Botdog","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-176,0],"id":"c38517a8-b651-48b3-9ba6-7b20fc749fad","name":"When clicking ‘Execute workflow’"},{"parameters":{"documentId":{"__rl":true,"value":"1cXBnneicleNMzkpVcPY73PF-srHpsTNQQZLlI9SgNKU","mode":"list","cachedResultName":"Golfers Unite Data List","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1cXBnneicleNMzkpVcPY73PF-srHpsTNQQZLlI9SgNKU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1713226963,"mode":"list","cachedResultName":"PROD-500","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1cXBnneicleNMzkpVcPY73PF-srHpsTNQQZLlI9SgNKU/edit#gid=1713226963"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[272,0],"id":"cde2b64e-a374-4e04-80f4-7c09a3361ade","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"RRGrkQ02VEC4ffU0","name":"Engineer Google"}}},{"parameters":{"batchSize":15,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[496,0],"id":"349a7a6c-1451-441b-a71f-722099883e91","name":"Loop Over Items"},{"parameters":{"value":"={{ $json.linkedin }}"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[720,112],"id":"ab38d84f-c047-486f-b6c0-b21920b77518","name":"Crypto"},{"parameters":{"method":"POST","url":"https://api.botdog.co/v1/leads/add_to_campaign","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"campaignId\": {{ $('Global Variable').item.json.campaignId.toJsonString() }},\n  \"leads\": {{ $json.leads_transformed.toJsonString() }}\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2176,112],"id":"7f8fbfdc-3f28-4fe7-80a0-ef02b97a3187","name":"Bot Dog Add","executeOnce":true,"credentials":{"httpHeaderAuth":{"id":"uhRrtdU8f5Y4DDDU","name":"Golfters Unite"}},"onError":"continueErrorOutput"},{"parameters":{"assignments":{"assignments":[{"id":"567c62c4-4f73-4127-bc54-2161b6d25db1","name":"campaignId","value":"4ecb1bfa-5511-4295-b0ac-9f70f16faff5","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[48,0],"id":"31df7d8a-2d53-4f2e-82a7-ef59a71e16a4","name":"Global Variable"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2512,112],"id":"d36ba91d-7984-4ad2-ae39-febb803ccc6e","name":"Wait","webhookId":"abd7158b-e4a2-4ccc-84ef-46583639d203"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"010c1243-4b39-4553-8c65-783d064c2128","leftValue":"={{ $json.linkedin }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[944,112],"id":"06afbecf-9874-4cad-a497-b76b381db2ed","name":"Filter"},{"parameters":{"assignments":{"assignments":[{"id":"a5819072-5cbd-4050-81da-c3b3c9b7243e","name":"unique_id","value":"={{ $json.data }}","type":"string"},{"id":"2dd64dc4-73bb-49fa-9940-5ff110a093e0","name":"first_name","value":"={{ $json.first_name }}","type":"string"},{"id":"3d001f07-fec1-4187-8879-eb04727bed52","name":"last_name","value":"={{ $json.last_name }}","type":"string"},{"id":"3de0f304-8a61-48a5-b208-6de5d46220ca","name":"linkedin_url","value":"={{ $json.linkedin }}","type":"string"},{"id":"9316cf3d-c220-4552-beff-f83696af26cd","name":"email","value":"={{ $json.email }}","type":"string"},{"id":"5394826b-e06e-413b-8d56-3a5dfeadbd4e","name":"position","value":"={{ $json.position }}","type":"string"},{"id":"0221ed58-11c3-49cd-a588-3c3409427fdc","name":"company_name","value":"={{ $json.company_name }}","type":"string"},{"id":"e9935b23-b9b0-4bad-9681-c2e968525ddf","name":"location","value":"={{ $json.location }}","type":"string"},{"id":"16a44128-1fec-4260-90ff-011ca5592837","name":"company_domain","value":"={{ $json.company_domain }}","type":"string"},{"id":"dc3b549c-a2b9-46a9-8274-6cb7c59bd8a4","name":"company_link","value":"={{ $json.company_link }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1168,112],"id":"3c3b7c74-74f2-4699-a3d4-dd51f8fa9298","name":"Set Data"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"lead_list","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1520,112],"id":"95f18abc-7b0d-49ed-85bc-b1b672c06363","name":"Aggregate"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1cXBnneicleNMzkpVcPY73PF-srHpsTNQQZLlI9SgNKU","mode":"list","cachedResultName":"Golfers Unite Data List","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1cXBnneicleNMzkpVcPY73PF-srHpsTNQQZLlI9SgNKU/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":1713226963,"mode":"list","cachedResultName":"PROD-500","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1cXBnneicleNMzkpVcPY73PF-srHpsTNQQZLlI9SgNKU/edit#gid=1713226963"},"columns":{"mappingMode":"defineBelow","value":{"linkedin":"={{ $json.linkedin_url }}","unique_id":"={{ $json.unique_id }}"},"matchingColumns":["linkedin"],"schema":[{"id":"unique_id","displayName":"unique_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"first_name","displayName":"first_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"last_name","displayName":"last_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedin","displayName":"linkedin","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"industry","displayName":"industry","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email_status","displayName":"email_status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"personal_email","displayName":"personal_email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"generic_email","displayName":"generic_email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"generic_phone","displayName":"generic_phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"num_of_connections","displayName":"num_of_connections","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"location","displayName":"location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"company_name","displayName":"company_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"company_link","displayName":"company_link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"company_domain","displayName":"company_domain","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"company_size","displayName":"company_size","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"current_position_1","displayName":"current_position_1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"current_position_2","displayName":"current_position_2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"current_position_3","displayName":"current_position_3","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"position_1","displayName":"position_1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"position_2","displayName":"position_2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"position_3","displayName":"position_3","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"emails","displayName":"emails","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"position","displayName":"position","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1520,-64],"id":"81afa4e4-bc1f-4188-9dcc-006ba7014546","name":"Update Unique","credentials":{"googleSheetsOAuth2Api":{"id":"RRGrkQ02VEC4ffU0","name":"Engineer Google"}}},{"parameters":{"jsCode":"const leads = $input.first().json.lead_list;\n\nconst transformed = leads.map(lead => ({\n  name: `${lead.first_name} ${lead.last_name}`,\n  linkedinUrl: lead.linkedin_url,\n  customAttributes: {\n    unique_id: lead.unique_id,\n    email: lead.email,\n    position: lead.position,\n    company_name: lead.company_name,\n    location: lead.location,\n    company_domain: lead.company_domain,\n    company_link: lead.company_link,\n    first_name: lead.first_name,\n    last_name: lead.last_name\n  }\n}));\n\nreturn {\n  json: {\n    leads,\n    leads_transformed: transformed\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1856,112],"id":"5c0cfd84-83a4-48e6-9466-509cbc5a98e4","name":"Lead List Transform Payload"},{"parameters":{"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2528,336],"id":"783c6a6c-2e5f-41e3-98fd-6661411f72ba","name":"Edit Fields"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Global Variable","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Crypto","type":"main","index":0}]]},"Crypto":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Global Variable":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Bot Dog Add":{"main":[[{"node":"Wait","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Set Data","type":"main","index":0}]]},"Set Data":{"main":[[{"node":"Aggregate","type":"main","index":0},{"node":"Update Unique","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Lead List Transform Payload","type":"main","index":0}]]},"Update Unique":{"main":[[]]},"Lead List Transform Payload":{"main":[[{"node":"Bot Dog Add","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"versionId":"9972670d-a10f-4ab6-bf8e-5ffcf506aae7","triggerCount":0,"shared":[{"createdAt":"2025-12-08T06:53:17.755Z","updatedAt":"2025-12-08T06:53:17.755Z","role":"workflow:owner","workflowId":"BHgMlKBYjIZ6OU8O","projectId":"K1I3F6pgq5BCLa0R"}],"tags":[{"createdAt":"2025-12-08T08:46:44.767Z","updatedAt":"2025-12-08T08:46:44.767Z","id":"B7k2EdnbBftpF4bY","name":"Golfers Unite"}]}