workflows/[IPrefer] - Workflow 3 - Loop For Every Type Event.json
{"createdAt":"2025-11-11T12:32:35.305Z","updatedAt":"2025-12-20T05:34:06.380Z","id":"LHBEwGEbSGbjbo2T","name":"[IPrefer] - Workflow 3 - Loop For Every Type Event","active":false,"isArchived":false,"nodes":[{"parameters":{"inputSource":"jsonExample","jsonExample":" {\n    \"event_array\": [\n      {\n        \"type\": \"accommodations\",\n        \"key\": \"www.sherwoodsuites.vn\",\n        \"link_list\": [\n          \"https://www.east-hamburg.de/hotel/zimmer\",\n          \"https://www.east-hamburg.de/en/hotel/rooms\"\n        ]\n      },\n      {\n        \"type\": \"amenities\",\n        \"key\": \"www.sherwoodsuites.vn\",\n        \"link_list\": [\n          \"https://www.east-hamburg.de/fitness-wellness\",\n          \"https://www.east-hamburg.de/meetings-more\",\n          \"https://www.east-hamburg.de/hotel/concierge-services\",\n          \"https://www.east-hamburg.de/en/meetings-more\",\n          \"https://www.east-hamburg.de/en/fitness-spa\",\n          \"https://www.east-hamburg.de/en/hotel/concierge-services\"\n        ]\n      },\n      {\n        \"type\": \"offers\",\n        \"key\": \"www.sherwoodsuites.vn\",\n        \"link_list\": [\n          \"https://www.east-hamburg.de/hotel/angebote\",\n          \"https://www.east-hamburg.de/en/hotel/offers\"\n        ]\n      },\n      {\n        \"type\": \"dining\",\n        \"key\": \"www.sherwoodsuites.vn\",\n        \"link_list\": [\n          \"https://www.east-hamburg.de/restaurant\",\n          \"https://www.east-hamburg.de/bar-lounges\",\n          \"https://www.east-hamburg.de/en/restaurant\",\n          \"https://www.east-hamburg.de/en/bar-lounges\",\n          \"https://www.east-hamburg.de/east-cosmos-sommerterrassen\",\n          \"https://www.east-hamburg.de/restaurant/east-restaurant\"\n        ]\n      },\n      {\n        \"type\": \"activities\",\n        \"key\": \"www.sherwoodsuites.vn\",\n        \"link_list\": [\n          \"https://www.east-hamburg.de/events\",\n          \"https://www.east-hamburg.de/en/events\",\n          \"https://www.east-hamburg.de/east-culture\",\n          \"https://www.east-hamburg.de/hotel/hamburg-entdecken\",\n          \"https://www.east-hamburg.de/en/east-culture\",\n          \"https://www.east-hamburg.de/en/hotel/discover-hamburg\"\n        ]\n      },\n      {\n        \"type\": \"location\",\n        \"key\": \"www.sherwoodsuites.vn\",\n        \"link_list\": [\n          \"https://www.east-hamburg.de/anfahrt-parken\",\n          \"https://www.east-hamburg.de/en/arrival-parking\"\n        ]\n      }\n    ]\n  }"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[0,16],"id":"adb2a451-da9a-4c58-932e-74fcb474a7c0","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"5a18d8aa-aba3-4549-83ab-71392b760066","name":"event_array","value":"={{ $json.event_array }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[224,16],"id":"247a25e5-1d5f-4dc9-8a76-33cadd1e5021","name":"Edit Fields"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[672,16],"id":"a6d10bce-ce99-455f-9d8a-a32590a77372","name":"Loop Over Items"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1200,32],"id":"113ef820-9cd1-42c8-92ef-b206557016fe","name":"Wait","webhookId":"faaf472b-40d9-4dcb-8fcc-62b64f25da3c"},{"parameters":{"options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[896,-176],"id":"08fdc411-fb80-4b79-8d77-1ad2f35c9213","name":"Respond to Webhook"},{"parameters":{"fieldToSplitOut":"event_array","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[448,16],"id":"ad115025-b110-459c-a913-5ca680d2176e","name":"Split Out"},{"parameters":{"workflowId":{"__rl":true,"value":"sRJcFadrXqq9NvkQ","mode":"list","cachedResultUrl":"/workflow/sRJcFadrXqq9NvkQ","cachedResultName":"[IPrefer] - Workflow 4 - Handle Process Data Hostel Website"},"workflowInputs":{"mappingMode":"defineBelow","value":{"type":"={{ $json.type }}","key":"={{ $json.key }}","link_list":"={{ $json.link_list }}"},"matchingColumns":[],"schema":[{"id":"type","displayName":"type","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"key","displayName":"key","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"link_list","displayName":"link_list","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[896,32],"id":"98cce839-72b6-4a48-9b41-c92feac958fb","name":"Workflow 4 - Handle Process Data Hostel Website","alwaysOutputData":true}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}],[{"node":"Workflow 4 - Handle Process Data Hostel Website","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Workflow 4 - Handle Process Data Hostel Website":{"main":[[{"node":"Wait","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"versionId":"207ebfb4-1792-4efa-b2b9-c03ee69ffec0","triggerCount":0,"shared":[{"createdAt":"2025-11-11T12:32:35.305Z","updatedAt":"2025-11-11T12:32:35.305Z","role":"workflow:owner","workflowId":"LHBEwGEbSGbjbo2T","projectId":"K1I3F6pgq5BCLa0R"}],"tags":[{"createdAt":"2025-11-07T06:28:36.236Z","updatedAt":"2025-11-07T06:28:36.236Z","id":"UBGqbTdgowP63yll","name":"IPrefer"}]}