workflows/[IPrefer] - Utils - Auto gen UUID.json
{"createdAt":"2025-11-18T12:26:49.094Z","updatedAt":"2025-12-20T05:33:12.277Z","id":"PbIIUWL9bjg5qn8c","name":"[IPrefer] - Utils - Auto gen UUID","active":false,"isArchived":false,"nodes":[{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"19INqP7vS3ES_j5aA8zTba0l_izc6n04OXrr_6_tg3jw","mode":"list","cachedResultName":"List Hostel","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19INqP7vS3ES_j5aA8zTba0l_izc6n04OXrr_6_tg3jw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19INqP7vS3ES_j5aA8zTba0l_izc6n04OXrr_6_tg3jw/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"unique_id":"={{ $json.data }}","Name":"={{ $json.Name }}","Url":"={{ $json.Url }}","Root Domain":"={{ $json.rootWebsite }}"},"matchingColumns":["Name"],"schema":[{"id":"unique_id","displayName":"unique_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Url","displayName":"Url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"Root Domain","displayName":"Root Domain","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"is_scraped","displayName":"is_scraped","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[688,-176],"id":"0d38b660-6287-488a-b7c1-95c3b70cf288","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"RRGrkQ02VEC4ffU0","name":"Engineer Google"}}},{"parameters":{"compare":"selectedFields","fieldsToCompare":"data","options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[464,-176],"id":"fb58c51e-f3d8-46ad-bc45-094f9a61ad69","name":"Remove Duplicates"},{"parameters":{"value":"={{ $json.Url }}"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[240,-176],"id":"5dbc0135-0ef7-470a-85f5-cf0034705fe9","name":"Crypto"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const rawWebsite = $json.Url;\n\nfunction simpleHash(str) {\n  let hash = 0;\n  if (!str) return \"0\";\n  for (let i = 0; i < str.length; i++) {\n    const chr = str.charCodeAt(i);\n    hash = ((hash << 5) - hash) + chr;\n    hash |= 0; // 32-bit int\n  }\n  return Math.abs(hash).toString();\n}\n\n\nlet rootWebsite = rawWebsite;\nif (rawWebsite && typeof rawWebsite === \"string\") {\n  const match = rawWebsite.match(/^(https?:\\/\\/)?([^\\/]+)/);\n  if (match) {\n    rootWebsite = match[2].toLowerCase();\n  }\n}\n\n\nconst baseStr = `${($json.name || \"\").toLowerCase().trim()}|${rootWebsite}`;\nconst unique_id = simpleHash(baseStr);\n\nreturn { \n  unique_id,\n  rootWebsite,\n  ...$json\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[16,-176],"id":"0ebe491f-3d2a-457a-8f32-3a8bfd2fb45a","name":"Normalize Root Domain"},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-480,-176],"id":"d4d2ea54-f9be-454a-9b54-d94aeeadf5b8","name":"Schedule Trigger"},{"parameters":{"documentId":{"__rl":true,"value":"19INqP7vS3ES_j5aA8zTba0l_izc6n04OXrr_6_tg3jw","mode":"list","cachedResultName":"List Hostel","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19INqP7vS3ES_j5aA8zTba0l_izc6n04OXrr_6_tg3jw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19INqP7vS3ES_j5aA8zTba0l_izc6n04OXrr_6_tg3jw/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"unique_id"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-208,-176],"id":"8e3e9908-4238-45b2-91f3-160eae3fb6e9","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"RRGrkQ02VEC4ffU0","name":"Engineer Google"}}}],"connections":{"Remove Duplicates":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]},"Crypto":{"main":[[{"node":"Remove Duplicates","type":"main","index":0}]]},"Normalize Root Domain":{"main":[[{"node":"Crypto","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Normalize Root Domain","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Google Sheets Trigger":{"documentId":"19INqP7vS3ES_j5aA8zTba0l_izc6n04OXrr_6_tg3jw","sheetId":0,"lastIndexChecked":3},"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"versionId":"1cee7b73-9fef-404c-a25b-eb8511e3c76d","triggerCount":1,"shared":[{"createdAt":"2025-11-18T12:26:49.094Z","updatedAt":"2025-11-18T12:26:49.094Z","role":"workflow:owner","workflowId":"PbIIUWL9bjg5qn8c","projectId":"K1I3F6pgq5BCLa0R"}],"tags":[{"createdAt":"2025-11-07T06:28:36.236Z","updatedAt":"2025-11-07T06:28:36.236Z","id":"UBGqbTdgowP63yll","name":"IPrefer"}]}