workflows/[IPrefer] - Workflow - Automate 600 website in MileStone Content Studio.json
{"createdAt":"2025-12-30T12:21:41.757Z","updatedAt":"2025-12-30T15:05:25.807Z","id":"QA51jyYMqHGwdZsf","name":"[IPrefer] - Workflow - Automate 600 website in MileStone Content Studio","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-224,80],"id":"a4140ba7-7c5b-451a-baa9-0bd2b7ecfb51","name":"When clicking ‘Execute workflow’"},{"parameters":{"documentId":{"__rl":true,"value":"1Vll1lPRdzaGzTnk07r__Dd6uZYgD1JSKJjY5Gl7AfPo","mode":"list","cachedResultName":"Active Property List with Hotel URL Oct 23 2025","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Vll1lPRdzaGzTnk07r__Dd6uZYgD1JSKJjY5Gl7AfPo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":453334951,"mode":"list","cachedResultName":"Account Advanced Find View","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Vll1lPRdzaGzTnk07r__Dd6uZYgD1JSKJjY5Gl7AfPo/edit#gid=453334951"},"filtersUI":{"values":[{"lookupColumn":"is_scraped","lookupValue":"false"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[0,80],"id":"3e2ddc3d-9aa2-46b0-9f0c-b68c8323961e","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"RRGrkQ02VEC4ffU0","name":"Engineer Google"}}},{"parameters":{"maxItems":17},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[224,80],"id":"075800f7-d32f-4174-af5d-3c4d47e14131","name":"Limit"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[448,80],"id":"978c2f3c-89a7-4228-ac5a-c4b0fb7a77ed","name":"Loop Over Items"},{"parameters":{"value":"={{ $json.Website }}"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[672,160],"id":"33137229-95d8-466e-987e-08ba57a55c06","name":"Crypto"},{"parameters":{"method":"POST","url":"https://contentstudio.milestoneinternet.com/api/Campaign/GenerateCampaignArticlesForCustomTemplate","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/plain, */*"},{"name":"Accept-Language","value":"en,en-US;q=0.9,vi;q=0.8"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhdWQiOiJtaWxlc3RvbmUuYXNnYXJkIiwiaXNzIjoibWlkZ2FyZCIsImV4cCI6MTc2NzEwMjY4OCwic3ViIjoiMjU0OTIiLCJqdGkiOiJiMDczZmI0Yi03YThkLTRkZGMtODBiOC1iOTM1NGZjMTQwYTgiLCJrZXkiOiJmYWxzZSIsImFnZW5jeUlkIjoiMSIsImJ1c2luZXNzSWQiOiIzNzIzIiwidXNlclRoaW5nSWQiOiI5NzQ2MzNhYS03YmMxLWYwMTEtODE5NC0wMDIyNDg0ODZjNTMiLCJ1c2VyTmFtZSI6IkJXaWxjb3hAcHJlZmVycmVkaG90ZWxzLmNvbSIsImlhdCI6MTc2NzA5OTA4OCwibmJmIjoxNzY3MDk5MDg4fQ.XK_8s5BfNDUKL5f01yYBp4Y8I5xSMMSn-stG6y3NiLY"},{"name":"Connection","value":"keep-alive"},{"name":"Origin","value":"https://contentstudio.milestoneinternet.com"},{"name":"Referer","value":"https://contentstudio.milestoneinternet.com/campaigns/view-campaigns?campaignId=04d9ae2f-1b5a-45bf-b6ad-ab3aa5138fe8"},{"name":"Sec-Fetch-Dest","value":"empty"},{"name":"Sec-Fetch-Mode","value":"cors"},{"name":"Sec-Fetch-Site","value":"same-origin"},{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36"},{"name":"sec-ch-ua","value":"\"Google Chrome\";v=\"143\", \"Chromium\";v=\"143\", \"Not A(Brand\";v=\"24\""},{"name":"sec-ch-ua-mobile","value":"?0"},{"name":"sec-ch-ua-platform","value":"\"Windows\""},{"name":"Cookie","value":".Mim.Asgard.Cookie.Production=%7B%22token_type%22%3Anull%2C%22access_token%22%3A%22eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhdWQiOiJtaWxlc3RvbmUuYXNnYXJkIiwiaXNzIjoibWlkZ2FyZCIsImV4cCI6MTc2NzEwMjY4OCwic3ViIjoiMjU0OTIiLCJqdGkiOiJiMDczZmI0Yi03YThkLTRkZGMtODBiOC1iOTM1NGZjMTQwYTgiLCJrZXkiOiJmYWxzZSIsImFnZW5jeUlkIjoiMSIsImJ1c2luZXNzSWQiOiIzNzIzIiwidXNlclRoaW5nSWQiOiI5NzQ2MzNhYS03YmMxLWYwMTEtODE5NC0wMDIyNDg0ODZjNTMiLCJ1c2VyTmFtZSI6IkJXaWxjb3hAcHJlZmVycmVkaG90ZWxzLmNvbSIsImlhdCI6MTc2NzA5OTA4OCwibmJmIjoxNzY3MDk5MDg4fQ.XK_8s5BfNDUKL5f01yYBp4Y8I5xSMMSn-stG6y3NiLY%22%2C%22expires_in%22%3A3600%2C%22refresh_token%22%3A%22eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhdWQiOiJtaWxlc3RvbmUuYXNnYXJkIiwiaXNzIjoibWlkZ2FyZCIsImV4cCI6MTc2OTY5MTA4OCwic3ViIjoibWlsZXN0b25lLmFzZ2FyZCIsImp0aSI6ImUwMzcyMzkxLWJkOTUtNGIyOS1iZGVjLTFlMDVmMTJiOGQ0ZiIsImtleSI6ImZhbHNlIiwiYWdlbmN5SWQiOiIxIiwiYnVzaW5lc3NJZCI6IjM3MjMiLCJ1c2VyVGhpbmdJZCI6Ijk3NDYzM2FhLTdiYzEtZjAxMS04MTk0LTAwMjI0ODQ4NmM1MyIsInVzZXJOYW1lIjoiQldpbGNveEBwcmVmZXJyZWRob3RlbHMuY29tIiwiaWF0IjoxNzY3MDk5MDg4LCJuYmYiOjE3NjcwOTkwODh9.90SXG22MemKsMgV073ec42XUYRB_717UGBGMLRt1VJA%22%2C%22rememberMe%22%3Afalse%2C%22url%22%3Anull%2C%22cookie_prefix%22%3Anull%2C%22errorCode%22%3A0%2C%22errorMessage%22%3Anull%2C%22base_url%22%3A%22https%3A%2F%2Fapp.milestoneinternet.com%22%7D; .AspNetCore.Session=CfDJ8JwdOXGxLEhDqyjpgLM0NvybeWnH6NSDWnEYDGgp7gfmLfSG5JcQZVkYDY6Lg672MVoIIcFMR7m60jRGoOxYtsHPIVqjmAp4YhJ2PeH4e07uD7mvk907xJD5FHfCEiR4hiRz%2BuSH1EolxlKPVMLyzZsxYj54XjnrP0tHevrkwkQH; mp_5cd6318e4ba080528b1371c4399d2315_mixpanel=%7B%22distinct_id%22%3A%22BWilcox%40preferredhotels.com%22%2C%22%24device_id%22%3A%22d8cb7fae-cef5-4ed4-a609-e5eb01a7d91c%22%2C%22%24initial_referrer%22%3A%22https%3A%2F%2Fapp.milestoneinternet.com%2F%22%2C%22%24initial_referring_domain%22%3A%22app.milestoneinternet.com%22%2C%22__mps%22%3A%7B%7D%2C%22__mpso%22%3A%7B%7D%2C%22__mpus%22%3A%7B%7D%2C%22__mpa%22%3A%7B%7D%2C%22__mpu%22%3A%7B%7D%2C%22__mpr%22%3A%5B%5D%2C%22__mpap%22%3A%5B%5D%2C%22%24user_id%22%3A%22BWilcox%40preferredhotels.com%22%7D"},{"name":"cookie","value":".Mim.Asgard.Cookie.Production=%7B%22token_type%22%3Anull%2C%22access_token%22%3A%22eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhdWQiOiJtaWxlc3RvbmUuYXNnYXJkIiwiaXNzIjoibWlkZ2FyZCIsImV4cCI6MTc2NzEwMjY4OCwic3ViIjoiMjU0OTIiLCJqdGkiOiJiMDczZmI0Yi03YThkLTRkZGMtODBiOC1iOTM1NGZjMTQwYTgiLCJrZXkiOiJmYWxzZSIsImFnZW5jeUlkIjoiMSIsImJ1c2luZXNzSWQiOiIzNzIzIiwidXNlclRoaW5nSWQiOiI5NzQ2MzNhYS03YmMxLWYwMTEtODE5NC0wMDIyNDg0ODZjNTMiLCJ1c2VyTmFtZSI6IkJXaWxjb3hAcHJlZmVycmVkaG90ZWxzLmNvbSIsImlhdCI6MTc2NzA5OTA4OCwibmJmIjoxNzY3MDk5MDg4fQ.XK_8s5BfNDUKL5f01yYBp4Y8I5xSMMSn-stG6y3NiLY%22%2C%22expires_in%22%3A3600%2C%22refresh_token%22%3A%22eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhdWQiOiJtaWxlc3RvbmUuYXNnYXJkIiwiaXNzIjoibWlkZ2FyZCIsImV4cCI6MTc2OTY5MTA4OCwic3ViIjoibWlsZXN0b25lLmFzZ2FyZCIsImp0aSI6ImUwMzcyMzkxLWJkOTUtNGIyOS1iZGVjLTFlMDVmMTJiOGQ0ZiIsImtleSI6ImZhbHNlIiwiYWdlbmN5SWQiOiIxIiwiYnVzaW5lc3NJZCI6IjM3MjMiLCJ1c2VyVGhpbmdJZCI6Ijk3NDYzM2FhLTdiYzEtZjAxMS04MTk0LTAwMjI0ODQ4NmM1MyIsInVzZXJOYW1lIjoiQldpbGNveEBwcmVmZXJyZWRob3RlbHMuY29tIiwiaWF0IjoxNzY3MDk5MDg4LCJuYmYiOjE3NjcwOTkwODh9.90SXG22MemKsMgV073ec42XUYRB_717UGBGMLRt1VJA%22%2C%22rememberMe%22%3Afalse%2C%22url%22%3Anull%2C%22cookie_prefix%22%3Anull%2C%22errorCode%22%3A0%2C%22errorMessage%22%3Anull%2C%22base_url%22%3A%22https%3A%2F%2Fapp.milestoneinternet.com%22%7D;.AspNetCore.Session=CfDJ8JwdOXGxLEhDqyjpgLM0NvybeWnH6NSDWnEYDGgp7gfmLfSG5JcQZVkYDY6Lg672MVoIIcFMR7m60jRGoOxYtsHPIVqjmAp4YhJ2PeH4e07uD7mvk907xJD5FHfCEiR4hiRz%2BuSH1EolxlKPVMLyzZsxYj54XjnrP0tHevrkwkQH;mp_5cd6318e4ba080528b1371c4399d2315_mixpanel=%7B%22distinct_id%22%3A%22BWilcox%40preferredhotels.com%22%2C%22%24device_id%22%3A%22d8cb7fae-cef5-4ed4-a609-e5eb01a7d91c%22%2C%22%24initial_referrer%22%3A%22https%3A%2F%2Fapp.milestoneinternet.com%2F%22%2C%22%24initial_referring_domain%22%3A%22app.milestoneinternet.com%22%2C%22__mps%22%3A%7B%7D%2C%22__mpso%22%3A%7B%7D%2C%22__mpus%22%3A%7B%7D%2C%22__mpa%22%3A%7B%7D%2C%22__mpu%22%3A%7B%7D%2C%22__mpr%22%3A%5B%5D%2C%22__mpap%22%3A%5B%5D%2C%22%24user_id%22%3A%22BWilcox%40preferredhotels.com%22%7D;"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"topicIdea\": {\n    \"language\": \"\",\n    \"userContext\": \"\",\n    \"keywords\": [\n      \"{{ $json.keyword }}\"\n    ],\n    \"pillarIdea\": \"\"\n  },\n  \"language\": \"English\",\n  \"tone\": \"\",\n  \"contentBrief\": \"\",\n  \"gender\": \"\",\n  \"ageGroup\": \"\",\n  \"interestAndPersona\": \"\",\n  \"brandVoiceDocument\": \"\",\n  \"isOutlineCreation\": false,\n  \"isGenericFlow\": false,\n  \"HighlightedTextOrCustomPrompt\": \"\",\n  \"isExpand\": false,\n  \"isParaphrase\": false,\n  \"isChangeVoice\": false,\n  \"isCustomCommand\": false,\n  \"recreateContentDocument\": \"\",\n  \"campaignGoal\": \"\",\n  \"campaignTopic\": \"\",\n  \"campaignId\": null,\n  \"isFaqWorkflow\": false,\n  \"isCustomTemplateWorkflow\": false,\n  \"isYoutubeSummaryTemplateWorkflow\": false,\n  \"serviceName\": \"\",\n  \"projectType\": \"\",\n  \"contentOutlineGoal\": \"\",\n  \"PageUrls\": [],\n  \"isParentUrl\": false,\n  \"isRegenerateRequest\": false,\n  \"isRegenerateFlow\": false,\n  \"ArticleId\": 0,\n  \"CampaignTopic\": \"\",\n  \"CampaignGoal\": \"\",\n  \"Goal\": \"\",\n  \"Templates\": [\n    {\n      \"title\": \"I Prefer - PDP\",\n      \"description\": \"\",\n      \"icon\": \"\",\n      \"iconColor\": \"primary\",\n      \"type\": \"web\",\n      \"titleText\": \"\",\n      \"placeholderText\": \"\",\n      \"contentBriefText\": \"\",\n      \"isPublishable\": false,\n      \"recentlyUsed\": false,\n      \"summary\": \"\",\n      \"whyUse\": [],\n      \"isFavorite\": false,\n      \"templateCategories\": [],\n      \"CustomTemplateId\": \"70219571-00b2-4be9-990c-1153d52473ad\",\n      \"PageTitle\": \"Home\",\n      \"templateId\": 32,\n      \"Keywords\": [\n        \"{{ $json.keyword }}\"\n      ]\n    },\n    {\n      \"title\": \"I Prefer - PDP\",\n      \"description\": \"\",\n      \"icon\": \"\",\n      \"iconColor\": \"primary\",\n      \"type\": \"web\",\n      \"titleText\": \"\",\n      \"placeholderText\": \"\",\n      \"contentBriefText\": \"\",\n      \"isPublishable\": false,\n      \"recentlyUsed\": false,\n      \"summary\": \"\",\n      \"whyUse\": [],\n      \"isFavorite\": false,\n      \"templateCategories\": [],\n      \"CustomTemplateId\": \"70219571-00b2-4be9-990c-1153d52473ad\",\n      \"PageTitle\": \"About Us\",\n      \"templateId\": 32,\n      \"Keywords\": [\n        \"{{ $json.keyword }}\"\n      ]\n    },\n    {\n      \"title\": \"I Prefer - PDP\",\n      \"description\": \"\",\n      \"icon\": \"\",\n      \"iconColor\": \"primary\",\n      \"type\": \"web\",\n      \"titleText\": \"\",\n      \"placeholderText\": \"\",\n      \"contentBriefText\": \"\",\n      \"isPublishable\": false,\n      \"recentlyUsed\": false,\n      \"summary\": \"\",\n      \"whyUse\": [],\n      \"isFavorite\": false,\n      \"templateCategories\": [],\n      \"CustomTemplateId\": \"70219571-00b2-4be9-990c-1153d52473ad\",\n      \"PageTitle\": \"Dining & Bar\",\n      \"templateId\": 32,\n      \"Keywords\": [\n        \"{{ $json.keyword }}\"\n      ]\n    },\n    {\n      \"title\": \"I Prefer - PDP\",\n      \"description\": \"\",\n      \"icon\": \"\",\n      \"iconColor\": \"primary\",\n      \"type\": \"web\",\n      \"titleText\": \"\",\n      \"placeholderText\": \"\",\n      \"contentBriefText\": \"\",\n      \"isPublishable\": false,\n      \"recentlyUsed\": false,\n      \"summary\": \"\",\n      \"whyUse\": [],\n      \"isFavorite\": false,\n      \"templateCategories\": [],\n      \"CustomTemplateId\": \"70219571-00b2-4be9-990c-1153d52473ad\",\n      \"PageTitle\": \"Spa\",\n      \"templateId\": 32,\n      \"Keywords\": [\n        \"{{ $json.keyword }}\"\n      ]\n    },\n    {\n      \"title\": \"I Prefer - PDP\",\n      \"description\": \"\",\n      \"icon\": \"\",\n      \"iconColor\": \"primary\",\n      \"type\": \"web\",\n      \"titleText\": \"\",\n      \"placeholderText\": \"\",\n      \"contentBriefText\": \"\",\n      \"isPublishable\": false,\n      \"recentlyUsed\": false,\n      \"summary\": \"\",\n      \"whyUse\": [],\n      \"isFavorite\": false,\n      \"templateCategories\": [],\n      \"CustomTemplateId\": \"70219571-00b2-4be9-990c-1153d52473ad\",\n      \"PageTitle\": \"Restaurant\",\n      \"templateId\": 32,\n      \"Keywords\": [\n        \"{{ $json.keyword }}\"\n      ]\n    },\n    {\n      \"title\": \"I Prefer - PDP\",\n      \"description\": \"\",\n      \"icon\": \"\",\n      \"iconColor\": \"primary\",\n      \"type\": \"web\",\n      \"titleText\": \"\",\n      \"placeholderText\": \"\",\n      \"contentBriefText\": \"\",\n      \"isPublishable\": false,\n      \"recentlyUsed\": false,\n      \"summary\": \"\",\n      \"whyUse\": [],\n      \"isFavorite\": false,\n      \"templateCategories\": [],\n      \"CustomTemplateId\": \"70219571-00b2-4be9-990c-1153d52473ad\",\n      \"PageTitle\": \"Activities\",\n      \"templateId\": 32,\n      \"Keywords\": [\n        \"{{ $json.keyword }}\"\n      ]\n    },\n    {\n      \"title\": \"I Prefer - PDP\",\n      \"description\": \"\",\n      \"icon\": \"\",\n      \"iconColor\": \"primary\",\n      \"type\": \"web\",\n      \"titleText\": \"\",\n      \"placeholderText\": \"\",\n      \"contentBriefText\": \"\",\n      \"isPublishable\": false,\n      \"recentlyUsed\": false,\n      \"summary\": \"\",\n      \"whyUse\": [],\n      \"isFavorite\": false,\n      \"templateCategories\": [],\n      \"CustomTemplateId\": \"70219571-00b2-4be9-990c-1153d52473ad\",\n      \"PageTitle\": \"Amenities\",\n      \"templateId\": 32,\n      \"Keywords\": [\n        \"{{ $json.keyword }}\"\n      ]\n    },\n    {\n      \"title\": \"I Prefer - PDP\",\n      \"description\": \"\",\n      \"icon\": \"\",\n      \"iconColor\": \"primary\",\n      \"type\": \"web\",\n      \"titleText\": \"\",\n      \"placeholderText\": \"\",\n      \"contentBriefText\": \"\",\n      \"isPublishable\": false,\n      \"recentlyUsed\": false,\n      \"summary\": \"\",\n      \"whyUse\": [],\n      \"isFavorite\": false,\n      \"templateCategories\": [],\n      \"CustomTemplateId\": \"70219571-00b2-4be9-990c-1153d52473ad\",\n      \"PageTitle\": \"Local Attractions\",\n      \"templateId\": 32,\n      \"Keywords\": [\n        \"{{ $json.keyword }}\"\n      ]\n    },\n    {\n      \"title\": \"I Prefer - PDP\",\n      \"description\": \"\",\n      \"icon\": \"\",\n      \"iconColor\": \"primary\",\n      \"type\": \"web\",\n      \"titleText\": \"\",\n      \"placeholderText\": \"\",\n      \"contentBriefText\": \"\",\n      \"isPublishable\": false,\n      \"recentlyUsed\": false,\n      \"summary\": \"\",\n      \"whyUse\": [],\n      \"isFavorite\": false,\n      \"templateCategories\": [],\n      \"CustomTemplateId\": \"70219571-00b2-4be9-990c-1153d52473ad\",\n      \"PageTitle\": \"Offers and Packages\",\n      \"templateId\": 32,\n      \"Keywords\": [\n        \"{{ $json.keyword }}\"\n      ]\n    },\n    {\n      \"title\": \"I Prefer - PDP\",\n      \"description\": \"\",\n      \"icon\": \"\",\n      \"iconColor\": \"primary\",\n      \"type\": \"web\",\n      \"titleText\": \"\",\n      \"placeholderText\": \"\",\n      \"contentBriefText\": \"\",\n      \"isPublishable\": false,\n      \"recentlyUsed\": false,\n      \"summary\": \"\",\n      \"whyUse\": [],\n      \"isFavorite\": false,\n      \"templateCategories\": [],\n      \"CustomTemplateId\": \"70219571-00b2-4be9-990c-1153d52473ad\",\n      \"PageTitle\": \"Weddings and Events\",\n      \"templateId\": 32,\n      \"Keywords\": [\n        \"{{ $json.keyword }}\"\n      ]\n    },\n    {\n      \"title\": \"I Prefer - PDP\",\n      \"description\": \"\",\n      \"icon\": \"\",\n      \"iconColor\": \"primary\",\n      \"type\": \"web\",\n      \"titleText\": \"\",\n      \"placeholderText\": \"\",\n      \"contentBriefText\": \"\",\n      \"isPublishable\": false,\n      \"recentlyUsed\": false,\n      \"summary\": \"\",\n      \"whyUse\": [],\n      \"isFavorite\": false,\n      \"templateCategories\": [],\n      \"CustomTemplateId\": \"70219571-00b2-4be9-990c-1153d52473ad\",\n      \"PageTitle\": \"Meetings and Conferences\",\n      \"templateId\": 32,\n      \"Keywords\": [\n       \"{{ $json.keyword }}\"\n      ]\n    },\n    {\n      \"title\": \"I Prefer - PDP\",\n      \"description\": \"\",\n      \"icon\": \"\",\n      \"iconColor\": \"primary\",\n      \"type\": \"web\",\n      \"titleText\": \"\",\n      \"placeholderText\": \"\",\n      \"contentBriefText\": \"\",\n      \"isPublishable\": false,\n      \"recentlyUsed\": false,\n      \"summary\": \"\",\n      \"whyUse\": [],\n      \"isFavorite\": false,\n      \"templateCategories\": [],\n      \"CustomTemplateId\": \"70219571-00b2-4be9-990c-1153d52473ad\",\n      \"PageTitle\": \"FAQs\",\n      \"templateId\": 32,\n      \"Keywords\": [\n         \"{{ $json.keyword }}\"\n      ]\n    },\n    {\n      \"title\": \"I Prefer - PDP\",\n      \"description\": \"\",\n      \"icon\": \"\",\n      \"iconColor\": \"primary\",\n      \"type\": \"web\",\n      \"titleText\": \"\",\n      \"placeholderText\": \"\",\n      \"contentBriefText\": \"\",\n      \"isPublishable\": false,\n      \"recentlyUsed\": false,\n      \"summary\": \"\",\n      \"whyUse\": [],\n      \"isFavorite\": false,\n      \"templateCategories\": [],\n      \"CustomTemplateId\": \"70219571-00b2-4be9-990c-1153d52473ad\",\n      \"PageTitle\": \"Travel Guide\",\n      \"templateId\": 32,\n      \"Keywords\": [\n        \"{{ $json.keyword }}\"\n      ]\n    }\n  ],\n  \"brandId\": \"6f0f2267-b876-46ce-8ea3-adeda1220c0f\",\n  \"urls\": [\n    \"{{ $json.website_url }}\"\n  ],\n  \"isIndividualUrls\": false,\n  \"profileId\": 35565,\n  \"businessId\": 3723,\n  \"profileName\": \"Preferred Hotels & Resorts\",\n  \"keywords\": [\n    \"{{ $json.keyword }}\"\n  ],\n  \"highlights\": {},\n  \"targetAudienceId\": 574,\n  \"brandVoiceId\": 488,\n  \"languageDetail\": {\n    \"id\": 12,\n    \"countryCode\": \"US\",\n    \"languageName\": \"English\",\n    \"languageCode\": \"en\"\n  },\n  \"pages\": [\n    {\n      \"templateId\": \"70219571-00b2-4be9-990c-1153d52473ad\",\n      \"pageUrl\": \"\",\n      \"title\": \"Home\",\n      \"keywords\": [\n        \"{{ $json.keyword }}\"\n      ]\n    },\n    {\n      \"templateId\": \"70219571-00b2-4be9-990c-1153d52473ad\",\n      \"pageUrl\": \"\",\n      \"title\": \"About Us\",\n      \"keywords\": [\n         \"{{ $json.keyword }}\"\n      ]\n    },\n    {\n      \"templateId\": \"70219571-00b2-4be9-990c-1153d52473ad\",\n      \"pageUrl\": \"\",\n      \"title\": \"Dining & Bar\",\n      \"keywords\": [\n       \"{{ $json.keyword }}\"\n      ]\n    },\n    {\n      \"templateId\": \"70219571-00b2-4be9-990c-1153d52473ad\",\n      \"pageUrl\": \"\",\n      \"title\": \"Spa\",\n      \"keywords\": [\n        \"{{ $json.keyword }}\"\n      ]\n    },\n    {\n      \"templateId\": \"70219571-00b2-4be9-990c-1153d52473ad\",\n      \"pageUrl\": \"\",\n      \"title\": \"Restaurant\",\n      \"keywords\": [\n         \"{{ $json.keyword }}\"\n      ]\n    },\n    {\n      \"templateId\": \"70219571-00b2-4be9-990c-1153d52473ad\",\n      \"pageUrl\": \"\",\n      \"title\": \"Activities\",\n      \"keywords\": [\n        \"{{ $json.keyword }}\"\n      ]\n    },\n    {\n      \"templateId\": \"70219571-00b2-4be9-990c-1153d52473ad\",\n      \"pageUrl\": \"\",\n      \"title\": \"Amenities\",\n      \"keywords\": [\n     \"{{ $json.keyword }}\"\n      ]\n    },\n    {\n      \"templateId\": \"70219571-00b2-4be9-990c-1153d52473ad\",\n      \"pageUrl\": \"\",\n      \"title\": \"Local Attractions\",\n      \"keywords\": [\n        \"{{ $json.keyword }}\"\n      ]\n    },\n    {\n      \"templateId\": \"70219571-00b2-4be9-990c-1153d52473ad\",\n      \"pageUrl\": \"\",\n      \"title\": \"Offers and Packages\",\n      \"keywords\": [\n    \"{{ $json.keyword }}\"\n      ]\n    },\n    {\n      \"templateId\": \"70219571-00b2-4be9-990c-1153d52473ad\",\n      \"pageUrl\": \"\",\n      \"title\": \"Weddings and Events\",\n      \"keywords\": [\n      \"{{ $json.keyword }}\"\n      ]\n    },\n    {\n      \"templateId\": \"70219571-00b2-4be9-990c-1153d52473ad\",\n      \"pageUrl\": \"\",\n      \"title\": \"Meetings and Conferences\",\n      \"keywords\": [\n     \"{{ $json.keyword }}\"\n      ]\n    },\n    {\n      \"templateId\": \"70219571-00b2-4be9-990c-1153d52473ad\",\n      \"pageUrl\": \"\",\n      \"title\": \"FAQs\",\n      \"keywords\": [\n        \"{{ $json.keyword }}\"\n      ]\n    },\n    {\n      \"templateId\": \"70219571-00b2-4be9-990c-1153d52473ad\",\n      \"pageUrl\": \"\",\n      \"title\": \"Travel Guide\",\n      \"keywords\": [\n        \"{{ $json.keyword }}\"\n      ]\n    }\n  ],\n  \"contentInstructionDocuments\": []\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1152,160],"id":"762bc3da-0107-4349-9f3d-2765e190d31f","name":"Add to Create Content Studio Campaign","executeOnce":true},{"parameters":{"assignments":{"assignments":[{"id":"6b1c21dc-5228-4e86-b78f-4a6e8d550e1d","name":"website_url","value":"={{ $json.Website }}","type":"string"},{"id":"0140f6d4-5d6d-457b-b286-a139364890b2","name":"keyword","value":"={{ $json.Website.match(/^(?:https?:\\/\\/)?(?:www\\.)?([^\\/\\.]+)/)[1] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[896,160],"id":"7dc41237-caec-4e0e-9156-9f0697e880f4","name":"Edit Fields"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1680,272],"id":"47088041-1e2a-42fc-a5d0-bee2a65f4a61","name":"Wait","webhookId":"fc7c982a-427e-4d2b-a8ab-a2df13a90a95"},{"parameters":{"method":"POST","url":"https://contentstudio.milestoneinternet.com/api/Article/GetArticleById","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json, text/plain, */*"},{"name":"Accept-Language","value":"en,en-US;q=0.9,vi;q=0.8"},{"name":"Authorization","value":"Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhdWQiOiJtaWxlc3RvbmUuYXNnYXJkIiwiaXNzIjoibWlkZ2FyZCIsImV4cCI6MTc2NzEwMjY4OCwic3ViIjoiMjU0OTIiLCJqdGkiOiJiMDczZmI0Yi03YThkLTRkZGMtODBiOC1iOTM1NGZjMTQwYTgiLCJrZXkiOiJmYWxzZSIsImFnZW5jeUlkIjoiMSIsImJ1c2luZXNzSWQiOiIzNzIzIiwidXNlclRoaW5nSWQiOiI5NzQ2MzNhYS03YmMxLWYwMTEtODE5NC0wMDIyNDg0ODZjNTMiLCJ1c2VyTmFtZSI6IkJXaWxjb3hAcHJlZmVycmVkaG90ZWxzLmNvbSIsImlhdCI6MTc2NzA5OTA4OCwibmJmIjoxNzY3MDk5MDg4fQ.XK_8s5BfNDUKL5f01yYBp4Y8I5xSMMSn-stG6y3NiLY"},{"name":"Connection","value":"keep-alive"},{"name":"Origin","value":"https://contentstudio.milestoneinternet.com"},{"name":"Referer","value":"https://contentstudio.milestoneinternet.com/manage-content/articles/create-detailed-post/edit/26901?campaignId=04d9ae2f-1b5a-45bf-b6ad-ab3aa5138fe8&templateName=Web%20Pages"},{"name":"Sec-Fetch-Dest","value":"empty"},{"name":"Sec-Fetch-Mode","value":"cors"},{"name":"Sec-Fetch-Site","value":"same-origin"},{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/143.0.0.0 Safari/537.36"},{"name":"sec-ch-ua","value":"\"Google Chrome\";v=\"143\", \"Chromium\";v=\"143\", \"Not A(Brand\";v=\"24\""},{"name":"sec-ch-ua-mobile","value":"?0"},{"name":"sec-ch-ua-platform","value":"\"Windows\""},{"name":"Cookie","value":".Mim.Asgard.Cookie.Production=%7B%22token_type%22%3Anull%2C%22access_token%22%3A%22eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhdWQiOiJtaWxlc3RvbmUuYXNnYXJkIiwiaXNzIjoibWlkZ2FyZCIsImV4cCI6MTc2NzEwMjY4OCwic3ViIjoiMjU0OTIiLCJqdGkiOiJiMDczZmI0Yi03YThkLTRkZGMtODBiOC1iOTM1NGZjMTQwYTgiLCJrZXkiOiJmYWxzZSIsImFnZW5jeUlkIjoiMSIsImJ1c2luZXNzSWQiOiIzNzIzIiwidXNlclRoaW5nSWQiOiI5NzQ2MzNhYS03YmMxLWYwMTEtODE5NC0wMDIyNDg0ODZjNTMiLCJ1c2VyTmFtZSI6IkJXaWxjb3hAcHJlZmVycmVkaG90ZWxzLmNvbSIsImlhdCI6MTc2NzA5OTA4OCwibmJmIjoxNzY3MDk5MDg4fQ.XK_8s5BfNDUKL5f01yYBp4Y8I5xSMMSn-stG6y3NiLY%22%2C%22expires_in%22%3A3600%2C%22refresh_token%22%3A%22eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhdWQiOiJtaWxlc3RvbmUuYXNnYXJkIiwiaXNzIjoibWlkZ2FyZCIsImV4cCI6MTc2OTY5MTA4OCwic3ViIjoibWlsZXN0b25lLmFzZ2FyZCIsImp0aSI6ImUwMzcyMzkxLWJkOTUtNGIyOS1iZGVjLTFlMDVmMTJiOGQ0ZiIsImtleSI6ImZhbHNlIiwiYWdlbmN5SWQiOiIxIiwiYnVzaW5lc3NJZCI6IjM3MjMiLCJ1c2VyVGhpbmdJZCI6Ijk3NDYzM2FhLTdiYzEtZjAxMS04MTk0LTAwMjI0ODQ4NmM1MyIsInVzZXJOYW1lIjoiQldpbGNveEBwcmVmZXJyZWRob3RlbHMuY29tIiwiaWF0IjoxNzY3MDk5MDg4LCJuYmYiOjE3NjcwOTkwODh9.90SXG22MemKsMgV073ec42XUYRB_717UGBGMLRt1VJA%22%2C%22rememberMe%22%3Afalse%2C%22url%22%3Anull%2C%22cookie_prefix%22%3Anull%2C%22errorCode%22%3A0%2C%22errorMessage%22%3Anull%2C%22base_url%22%3A%22https%3A%2F%2Fapp.milestoneinternet.com%22%7D; .AspNetCore.Session=CfDJ8JwdOXGxLEhDqyjpgLM0NvybeWnH6NSDWnEYDGgp7gfmLfSG5JcQZVkYDY6Lg672MVoIIcFMR7m60jRGoOxYtsHPIVqjmAp4YhJ2PeH4e07uD7mvk907xJD5FHfCEiR4hiRz%2BuSH1EolxlKPVMLyzZsxYj54XjnrP0tHevrkwkQH; mp_5cd6318e4ba080528b1371c4399d2315_mixpanel=%7B%22distinct_id%22%3A%22BWilcox%40preferredhotels.com%22%2C%22%24device_id%22%3A%22d8cb7fae-cef5-4ed4-a609-e5eb01a7d91c%22%2C%22%24initial_referrer%22%3A%22https%3A%2F%2Fapp.milestoneinternet.com%2F%22%2C%22%24initial_referring_domain%22%3A%22app.milestoneinternet.com%22%2C%22__mps%22%3A%7B%7D%2C%22__mpso%22%3A%7B%7D%2C%22__mpus%22%3A%7B%7D%2C%22__mpa%22%3A%7B%7D%2C%22__mpu%22%3A%7B%7D%2C%22__mpr%22%3A%5B%5D%2C%22__mpap%22%3A%5B%5D%2C%22%24user_id%22%3A%22BWilcox%40preferredhotels.com%22%7D"},{"name":"cookie","value":".Mim.Asgard.Cookie.Production=%7B%22token_type%22%3Anull%2C%22access_token%22%3A%22eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhdWQiOiJtaWxlc3RvbmUuYXNnYXJkIiwiaXNzIjoibWlkZ2FyZCIsImV4cCI6MTc2NzEwMjY4OCwic3ViIjoiMjU0OTIiLCJqdGkiOiJiMDczZmI0Yi03YThkLTRkZGMtODBiOC1iOTM1NGZjMTQwYTgiLCJrZXkiOiJmYWxzZSIsImFnZW5jeUlkIjoiMSIsImJ1c2luZXNzSWQiOiIzNzIzIiwidXNlclRoaW5nSWQiOiI5NzQ2MzNhYS03YmMxLWYwMTEtODE5NC0wMDIyNDg0ODZjNTMiLCJ1c2VyTmFtZSI6IkJXaWxjb3hAcHJlZmVycmVkaG90ZWxzLmNvbSIsImlhdCI6MTc2NzA5OTA4OCwibmJmIjoxNzY3MDk5MDg4fQ.XK_8s5BfNDUKL5f01yYBp4Y8I5xSMMSn-stG6y3NiLY%22%2C%22expires_in%22%3A3600%2C%22refresh_token%22%3A%22eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhdWQiOiJtaWxlc3RvbmUuYXNnYXJkIiwiaXNzIjoibWlkZ2FyZCIsImV4cCI6MTc2OTY5MTA4OCwic3ViIjoibWlsZXN0b25lLmFzZ2FyZCIsImp0aSI6ImUwMzcyMzkxLWJkOTUtNGIyOS1iZGVjLTFlMDVmMTJiOGQ0ZiIsImtleSI6ImZhbHNlIiwiYWdlbmN5SWQiOiIxIiwiYnVzaW5lc3NJZCI6IjM3MjMiLCJ1c2VyVGhpbmdJZCI6Ijk3NDYzM2FhLTdiYzEtZjAxMS04MTk0LTAwMjI0ODQ4NmM1MyIsInVzZXJOYW1lIjoiQldpbGNveEBwcmVmZXJyZWRob3RlbHMuY29tIiwiaWF0IjoxNzY3MDk5MDg4LCJuYmYiOjE3NjcwOTkwODh9.90SXG22MemKsMgV073ec42XUYRB_717UGBGMLRt1VJA%22%2C%22rememberMe%22%3Afalse%2C%22url%22%3Anull%2C%22cookie_prefix%22%3Anull%2C%22errorCode%22%3A0%2C%22errorMessage%22%3Anull%2C%22base_url%22%3A%22https%3A%2F%2Fapp.milestoneinternet.com%22%7D;.AspNetCore.Session=CfDJ8JwdOXGxLEhDqyjpgLM0NvybeWnH6NSDWnEYDGgp7gfmLfSG5JcQZVkYDY6Lg672MVoIIcFMR7m60jRGoOxYtsHPIVqjmAp4YhJ2PeH4e07uD7mvk907xJD5FHfCEiR4hiRz%2BuSH1EolxlKPVMLyzZsxYj54XjnrP0tHevrkwkQH;mp_5cd6318e4ba080528b1371c4399d2315_mixpanel=%7B%22distinct_id%22%3A%22BWilcox%40preferredhotels.com%22%2C%22%24device_id%22%3A%22d8cb7fae-cef5-4ed4-a609-e5eb01a7d91c%22%2C%22%24initial_referrer%22%3A%22https%3A%2F%2Fapp.milestoneinternet.com%2F%22%2C%22%24initial_referring_domain%22%3A%22app.milestoneinternet.com%22%2C%22__mps%22%3A%7B%7D%2C%22__mpso%22%3A%7B%7D%2C%22__mpus%22%3A%7B%7D%2C%22__mpa%22%3A%7B%7D%2C%22__mpu%22%3A%7B%7D%2C%22__mpr%22%3A%5B%5D%2C%22__mpap%22%3A%5B%5D%2C%22%24user_id%22%3A%22BWilcox%40preferredhotels.com%22%7D;"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"articleId","value":"26901"},{"name":"profileId","value":"35565"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2080,80],"id":"3fa0f1c4-fdc5-4521-b471-b0f5c3622f5d","name":"Get Detail Content"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1Vll1lPRdzaGzTnk07r__Dd6uZYgD1JSKJjY5Gl7AfPo","mode":"list","cachedResultName":"Active Property List with Hotel URL Oct 23 2025","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Vll1lPRdzaGzTnk07r__Dd6uZYgD1JSKJjY5Gl7AfPo/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":453334951,"mode":"list","cachedResultName":"main","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1Vll1lPRdzaGzTnk07r__Dd6uZYgD1JSKJjY5Gl7AfPo/edit#gid=453334951"},"columns":{"mappingMode":"defineBelow","value":{"Website":"={{ $('Loop Over Items').item.json.Website }}","unique":"={{ $('Crypto').item.json.data }}","is_scraped":"true"},"matchingColumns":["Website"],"schema":[{"id":"Modified On","displayName":"Modified On","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Account Number","displayName":"Account Number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Account Name","displayName":"Account Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Synxis ID","displayName":"Synxis ID","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"City","displayName":"City","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"State/Province","displayName":"State/Province","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Country","displayName":"Country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Hotel Region","displayName":"Hotel Region","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"PHG Meetings Start Date","displayName":"PHG Meetings Start Date","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"PHG Meetings.com","displayName":"PHG Meetings.com","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Website","displayName":"Website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"unique","displayName":"unique","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"is_scraped","displayName":"is_scraped","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1408,160],"id":"4c658be9-7a57-4004-9b04-f8d52e686b21","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"RRGrkQ02VEC4ffU0","name":"Engineer Google"}}}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Limit","type":"main","index":0}]]},"Limit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Crypto","type":"main","index":0}]]},"Crypto":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Add to Create Content Studio Campaign","type":"main","index":0}]]},"Add to Create Content Studio Campaign":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Get Detail Content":{"main":[[]]},"Update row in sheet":{"main":[[{"node":"Wait","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"versionId":"3a293996-bf41-4ad0-abe4-5640e0ff4e43","triggerCount":0,"shared":[{"createdAt":"2025-12-30T12:21:41.757Z","updatedAt":"2025-12-30T12:21:41.757Z","role":"workflow:owner","workflowId":"QA51jyYMqHGwdZsf","projectId":"K1I3F6pgq5BCLa0R"}],"tags":[]}