workflows/[IPrefer] - Workflow 6 - Extract Website.json
{"createdAt":"2025-11-19T15:51:56.096Z","updatedAt":"2025-12-20T05:33:10.146Z","id":"LCwzPouaKxfT8IQU","name":"[IPrefer] - Workflow 6 - Extract Website","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1120,144],"id":"cbe7e9d0-59f0-4e6f-9c3c-e7e9a65fa150","name":"Wait2","webhookId":"2b6a2060-6362-462f-8961-87ba1d5f2514"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1120,400],"id":"ffc9d212-78f9-4b88-b7d3-fd6320ab41c9","name":"Wait1","webhookId":"eff7aba6-f21d-41d0-8501-0c96d82efe9e"},{"parameters":{"assignments":{"assignments":[{"id":"ffdcab6a-9768-4679-9837-c8ffece240a4","name":"id","value":"={{ $(\"Extract Website\").item.json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[304,192],"id":"8b728231-ac9c-48c8-a6f2-bfe200eec1bc","name":"Edit Id Job FireCrawl"},{"parameters":{"url":"=https://api.firecrawl.dev/v2/extract/{{ $json.id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{"batching":{"batch":{"batchSize":1,"batchInterval":15000}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[544,192],"id":"cd241b00-86eb-4e7d-bae2-5e6a355857b6","name":"Get Detail Job Craw","executeOnce":false,"alwaysOutputData":false,"credentials":{"httpHeaderAuth":{"id":"8FgjbPF34RRbvo43","name":"FireCrawl Engineer"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"17836dbe-22b1-43e2-bc4d-e6ca44c5dc41","leftValue":"={{ $json.status }}","rightValue":"completed","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[864,176],"id":"bd8d4319-b366-4954-9b16-a426902ed63e","name":"If","onError":"continueRegularOutput"},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1376,144],"id":"53a1ec47-c800-4171-816d-e65b7002b762","name":"Respond to Webhook"},{"parameters":{"workflowInputs":{"values":[{"name":"link_arrs","type":"array"},{"name":"prompt"},{"name":"schema","type":"object"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-288,192],"id":"b0dc1bbb-d53e-4061-a0aa-544370d43372","name":"When Executed by Another Workflow"},{"parameters":{"method":"POST","url":"https://api.firecrawl.dev/v1/extract","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"urls\": {{ $json.link_arrs.toJsonString() }},\n  \"prompt\": {{ $json.prompt.toJsonString() }},\n  \"schema\": {{ $json.schema.toJsonString() }}\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[32,192],"id":"481b0739-6132-4424-999d-eb62519973ee","name":"Extract Website","credentials":{"httpHeaderAuth":{"id":"8FgjbPF34RRbvo43","name":"FireCrawl Engineer"}}}],"connections":{"Wait2":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Edit Id Job FireCrawl","type":"main","index":0}]]},"Edit Id Job FireCrawl":{"main":[[{"node":"Get Detail Job Craw","type":"main","index":0}]]},"Get Detail Job Craw":{"main":[[{"node":"If","type":"main","index":0}],[]]},"If":{"main":[[{"node":"Wait2","type":"main","index":0}],[{"node":"Wait1","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Extract Website","type":"main","index":0}]]},"Extract Website":{"main":[[{"node":"Edit Id Job FireCrawl","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"versionId":"a462b5a4-fa0f-40eb-8876-d95ac5a8acc6","triggerCount":0,"shared":[{"createdAt":"2025-11-19T15:51:56.096Z","updatedAt":"2025-11-19T15:51:56.096Z","role":"workflow:owner","workflowId":"LCwzPouaKxfT8IQU","projectId":"K1I3F6pgq5BCLa0R"}],"tags":[{"createdAt":"2025-11-07T06:28:36.236Z","updatedAt":"2025-11-07T06:28:36.236Z","id":"UBGqbTdgowP63yll","name":"IPrefer"}]}