workflows/[IPrefer] - Workflow 5 - Download image to supabase.json
{"createdAt":"2025-11-17T07:53:38.388Z","updatedAt":"2025-12-20T05:33:02.611Z","id":"6aZU0mykqEPKSNkl","name":"[IPrefer] - Workflow 5 - Download image to supabase","active":false,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-544,64],"id":"9db08922-f66f-4e06-8b83-14091400fbba","name":"When Executed by Another Workflow"},{"parameters":{"assignments":{"assignments":[{"id":"cafbba58-8a78-46cb-bcf7-a829bb4b5bab","name":"data","value":"={{ $json.content }}","type":"object"},{"id":"51628a89-6ebe-4d87-8c08-c03d863e17a8","name":"type","value":"={{ $json.type }}","type":"string"},{"id":"69e7908e-7c95-4aec-8b81-0ab75d25ae9e","name":"key","value":"={{ $json.key }}","type":"string"},{"id":"3390ca10-4bcc-4bed-968c-8e94b2136ee7","name":"link_list","value":"={{ $json.link_list }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-320,64],"id":"28a7d18e-0a84-4584-b253-9f3a6cb2eee9","name":"Edit Fields"},{"parameters":{"jsCode":"const data = $input.first().json\n\nfunction isMediaUrl(v) {\n  if (typeof v !== \"string\") return false;\n  const clean = v.split(\"?\")[0].toLowerCase();\n  const ext = clean.split(\".\").pop();\n  const allowed = [\n    \"jpg\",\"jpeg\",\"png\",\"gif\",\"webp\",\n    \"mp4\",\"mov\",\"m4v\",\n    \"pdf\",\"docx\",\"xlsx\",\"pptx\",\n    \"zip\",\"rar\",\"svg\",\"webm\"\n  ];\n  return allowed.includes(ext);\n}\n\nfunction collect(obj, path = []) {\n  let list = [];\n\n  if (Array.isArray(obj)) {\n    obj.forEach((v, i) => {\n      list = list.concat(collect(v, [...path, i]));\n    });\n    return list;\n  }\n\n  if (typeof obj === \"object\" && obj !== null) {\n    for (const k of Object.keys(obj)) {\n      const v = obj[k];\n      const p = [...path, k];\n\n      if (isMediaUrl(v)) {\n        list.push({\n          path: p,\n          url: v\n        });\n      }\n\n      list = list.concat(collect(v, p));\n    }\n  }\n\n  return list;\n}\n\nconst result = collect(data);\n\nreturn result.map(r => ({ json: r }));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-96,64],"id":"23797bcd-e508-4d61-ae1e-0f621a3ecef9","name":"Extract Media Url","alwaysOutputData":true},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[400,-32],"id":"ac77ba9c-bd5b-4d73-9d8f-3401c9fdd16c","name":"Loop Over Items"},{"parameters":{"url":"={{ $json.url }}","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"05bb2ee8-4e6a-40f0-aece-489474cd86e6","name":"Download file","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1072,-16],"onError":"continueErrorOutput"},{"parameters":{"method":"POST","url":"=https://govizwoautvndrxlzhhu.supabase.co/storage/v1/object/iprefer/{{ $json.key }}/{{ $('Crypto').item.json.type }}/{{ $json.unique_id }}","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"x-upsert","value":"true"}]},"sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"}]},"options":{"response":{"response":{}}}},"id":"8382299d-40cf-4501-a242-3a907b939e6a","name":"Upload file","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1344,-32],"credentials":{"supabaseApi":{"id":"r2d5wFwQqioeI8Vg","name":"Engineer UAT"}}},{"parameters":{"value":"={{ $json.url }}","dataPropertyName":"unique_id"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[704,-16],"id":"2ef3a432-53c9-4604-ae83-2d5442eaba36","name":"Crypto"},{"parameters":{"assignments":{"assignments":[{"id":"463a34ab-35f3-4617-8e1f-3ef08ef66f74","name":"supabase_url","value":"=https://govizwoautvndrxlzhhu.supabase.co/storage/v1/object/public/{{ $json.Key }}","type":"string"},{"id":"89d449ee-6d62-4eb5-87f0-07b409bd532d","name":"path","value":"={{ $('Loop Over Items').item.json.path }}","type":"array"},{"id":"94940356-ca0b-4e87-8fdc-2e3c0d79be86","name":"type","value":"={{ $('Loop Over Items').item.json.type }}","type":"string"},{"id":"c3edf8e6-a421-40ee-a072-fd0180d408d6","name":"key","value":"={{ $('Loop Over Items').item.json.key }}","type":"string"},{"id":"39ab619c-cf14-4e91-9f00-7cd66b97ad87","name":"url","value":"={{ $('Loop Over Items').item.json.url }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1584,-16],"id":"20b6468a-46b7-46d8-a610-e516176529f7","name":"Set Media Url New"},{"parameters":{"jsCode":"  const original = $('Edit Fields').first().json;\n  const list = $input.first().json.data;\n  const link_list = $('Edit Fields').first().json.link_list;\n  const type = $('Edit Fields').first().json.type;\n  const key = $('Edit Fields').first().json.key\n  \n  function setValue(root, path, value) {\n    let o = root;\n    for (let i = 0; i < path.length - 1; i++) {\n      o = o[path[i]];\n    }\n    o[path[path.length - 1]] = value;\n  }\n  \n  list.forEach(i => {\n    setValue(original, i.path, i.supabase_url);\n  });\n  \n  return {\n    json: {\n      type,\n      link_list,\n      key,\n      content: original.data\n    }\n  };\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1072,-208],"id":"7567cc33-0708-4d29-a31c-bf8f43372b99","name":"Combine With New Media URL"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[688,-208],"id":"f52fed75-9374-440d-8330-31f9e0e26076","name":"Aggregate"},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1568,-208],"id":"265ebd14-98d0-46fc-8c8e-09276fbe648d","name":"Respond to Webhook1"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1344,-208],"id":"469bb06e-709d-4094-85b6-68525cb2f5a8","name":"Wait1","webhookId":"786df3e9-2fdc-49c0-a71a-ed972b14b985"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"b50bcf87-c80b-48d1-bdaf-93d5732ca337","leftValue":"={{ Object.keys($json).length > 0 }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[128,64],"id":"fc426fd0-8249-404e-a0df-0f2a655af6b4","name":"If"},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[992,416],"id":"80d7a30a-c650-492f-90e9-2358baace037","name":"Respond to Webhook"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[768,416],"id":"dcff7a6f-f306-4f48-968b-56fac5562f64","name":"Wait","webhookId":"786df3e9-2fdc-49c0-a71a-ed972b14b985"},{"parameters":{"assignments":{"assignments":[{"id":"1952c673-9032-4be3-bd2c-7b2575839014","name":"type","value":"={{ $('When Executed by Another Workflow').item.json.type }}","type":"string"},{"id":"f280afe1-04fe-494f-90d6-5674f0efcf51","name":"link_list","value":"={{ $('When Executed by Another Workflow').item.json.link_list }}","type":"array"},{"id":"04e3d705-c8a3-4bca-8676-b85a1a7bc43c","name":"key","value":"={{ $('When Executed by Another Workflow').item.json.key }}","type":"string"},{"id":"9616eb14-a760-4021-a10c-949ef61f0f8b","name":"content","value":"={{ $('When Executed by Another Workflow').item.json.content }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[496,416],"id":"f3a77f2b-90f9-433a-bf7b-10b67f5fe32c","name":"Edit Fields1"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1344,144],"id":"1a37beb7-65a4-4828-8491-07573722a3a2","name":"Wait2","webhookId":"464faab0-4b39-4dca-9355-13cd7fa71a73"}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Extract Media Url","type":"main","index":0}]]},"Extract Media Url":{"main":[[{"node":"If","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Aggregate","type":"main","index":0}],[{"node":"Crypto","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Upload file","type":"main","index":0}],[{"node":"Wait2","type":"main","index":0}]]},"Crypto":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Upload file":{"main":[[{"node":"Set Media Url New","type":"main","index":0}]]},"Set Media Url New":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Combine With New Media URL","type":"main","index":0}]]},"Combine With New Media URL":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"If":{"main":[[{"node":"Loop Over Items","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"versionId":"c043a594-8d3d-4ca1-a640-606619468121","triggerCount":0,"shared":[{"createdAt":"2025-11-17T07:53:38.388Z","updatedAt":"2025-11-17T07:53:38.388Z","role":"workflow:owner","workflowId":"6aZU0mykqEPKSNkl","projectId":"K1I3F6pgq5BCLa0R"}],"tags":[{"createdAt":"2025-11-07T06:28:36.236Z","updatedAt":"2025-11-07T06:28:36.236Z","id":"UBGqbTdgowP63yll","name":"IPrefer"}]}