workflows/[IPrefer] - Workflow 4 - Handle Process Data Hostel Website.json
{"createdAt":"2025-11-11T04:56:28.677Z","updatedAt":"2025-12-20T05:33:06.198Z","id":"sRJcFadrXqq9NvkQ","name":"[IPrefer] - Workflow 4 - Handle Process Data Hostel Website","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"type"},{"name":"key"},{"name":"link_list","type":"array"}]}},"id":"c055762a-8fe7-4141-a639-df2372f30060","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-1216,1008]},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[1056,1744],"id":"ad61d1ad-a0eb-4241-befa-e9f342186054","name":"Respond to Webhook"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[576,1744],"id":"b1f1d83f-a867-4d55-ae9e-b045048446c7","name":"Wait","webhookId":"786df3e9-2fdc-49c0-a71a-ed972b14b985"},{"parameters":{"assignments":{"assignments":[{"id":"6d8acb27-4654-489c-8de8-2a572d8711ee","name":"type","value":"={{ $json.type }}","type":"string"},{"id":"224abfd3-5b24-4ea6-a886-a87bd58b49ae","name":"key","value":"={{ $json.key }}","type":"string"},{"id":"ecd406ea-7ea1-473b-a3c2-209e1e7d1dc0","name":"link_list","value":"={{ $json.link_list }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-992,1008],"id":"6df4132e-d2dd-464d-b276-26489698899f","name":"Edit Fields"},{"parameters":{"operation":"get","tableId":"iprefer_prompts","filters":{"conditions":[{"keyName":"type","keyValue":"={{ $('Edit Fields').item.json.type?.trim().toLowerCase() }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-96,1008],"id":"a4135525-badf-4c95-9d92-34be70da88df","name":"Get Prompt By Type","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"r2d5wFwQqioeI8Vg","name":"Engineer UAT"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"434fd26f-3024-4987-81d7-b5c9134ef525","leftValue":"={{ $json.prompt }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[128,1008],"id":"f1ef298c-2a25-431f-8047-c5d4a3110414","name":"If"},{"parameters":{"tableId":"iprefer_prompts","fieldsUi":{"fieldValues":[{"fieldId":"type","fieldValue":"={{ $('Edit Fields').item.json?.type?.toLowerCase().trim() }}"},{"fieldId":"prompt"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[288,1744],"id":"81a10370-329c-432d-9b50-cbad1e157909","name":"Create New Prompt Type","credentials":{"supabaseApi":{"id":"r2d5wFwQqioeI8Vg","name":"Engineer UAT"}}},{"parameters":{"promptType":"define","text":"=Here is the website’s data in Markdown to extract data.\n\nBase URL domain: https://{{ $('Edit Fields1').item.json.key }}\n\n<website_markdown>\n{{ \n  (() => {\n    try {\n      return $('Merge data markdown').first().json.markdown?.toString() || \"\";\n    } catch (e) {\n      return \"\";\n    }\n  })()\n}}\n</website_markdown>\n","hasOutputParser":true,"options":{"systemMessage":"={{ $('Edit Fields1').item.json.prompt }}"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[2192,400],"id":"4a7dcbde-d42f-4b48-a856-ba4b30352fee","name":"AI Agent","executeOnce":true,"retryOnFail":true,"waitBetweenTries":5000,"maxTries":2},{"parameters":{"schemaType":"manual","inputSchema":"={{ $('Edit Fields1').item.json.schema.toJsonString() }}","autoFix":true,"customizeRetryPrompt":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[2384,624],"id":"66651119-1186-49c0-b1f8-2f25d7fa37dc","name":"Structured Output Parser"},{"parameters":{"description":"=# OBJECTIVE\nAnalyze the `Target Schema` and `Markdown Content` to formulate a strict data extraction plan.\n\n# REASONING CHECKLIST\n1. **Schema Mapping:** Identify the specific section in the Markdown that corresponds to each key in the Schema based on semantic meaning.\n2. **Gap Detection:** explicit verify which Schema keys are missing in the content to ensure they are returned as `null`.\n3. **Data Cleaning Strategy:** Plan how to strip markdown syntax (links, bolding) to get raw values.\n4. **Anti-Hallucination Check:** Confirm that no data will be invented or inferred if it's not explicitly written."},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[2256,624],"id":"031e81f9-d8ed-46a6-9d4f-913484cb6ef0","name":"Think"},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[1680,608],"id":"c0650780-2877-4ee1-96e7-1026bb5ba199","name":"Aggregate"},{"parameters":{"jsCode":"const allData = [];\n\nconst outerData = $input.first().json.data || [];\n\nouterData.forEach(block => {\n  if (Array.isArray(block.data)) {\n    allData.push(...block.data);\n  }\n});\n\nconst markDownCombine = allData\n  .map(item => {\n    const title = item.url || item.sourceURL || \"Untitled\";\n    const sourceUrl = item.sourceURL || item.url || \"\";\n    const markdown = item.markdown || \"\";\n    return `## ${title}\\nSource Url: ${sourceUrl}\\n\\n${markdown}`;\n  })\n  .join(\"\\n\\n---\\n\\n\"); \n\nreturn [{\n  json: { markdown: markDownCombine, totalItems: allData.length }\n}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1904,608],"id":"90217ee2-d56f-4c3b-8fe4-909255b31e5c","name":"Merge data markdown","executeOnce":true},{"parameters":{"assignments":{"assignments":[{"id":"c06dc5f9-81d6-4f3b-8b18-277f1fe021b4","name":"prompt","value":"={{ $json.prompt }}","type":"string"},{"id":"1f6e3fb4-82b6-41d6-8129-ffc7d764ed77","name":"link_list","value":"={{ $('Edit Fields').item.json.link_list }}","type":"array"},{"id":"ce24f559-34e1-4248-9b4c-b0e73de9184b","name":"key","value":"={{ $('Edit Fields').item.json.key }}","type":"string"},{"id":"0185e070-e327-412c-bc0b-b127e35558b5","name":"type","value":"={{ $('Edit Fields').item.json.type }}","type":"string"},{"id":"b69b9887-4d58-47d5-90d1-64198fcbc786","name":"schema","value":"={{ $json.schema }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[704,608],"id":"77fff90b-ab61-4f28-a4ad-11a770f6d3e8","name":"Edit Fields1"},{"parameters":{"tableId":"iprefer_data_hotel","fieldsUi":{"fieldValues":[{"fieldId":"unique_url","fieldValue":"={{ $json.key }}"},{"fieldId":"content","fieldValue":"={{ $json.content }}"},{"fieldId":"link_list","fieldValue":"={{ $json.link_list }}"},{"fieldId":"type","fieldValue":"={{ $json.type }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[3200,608],"id":"2b6ef5aa-4231-48fd-bd73-e1e67d15abe4","name":"Create a row","credentials":{"supabaseApi":{"id":"r2d5wFwQqioeI8Vg","name":"Engineer UAT"}}},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[3648,608],"id":"9bca0556-fcac-47c0-8698-864d7d0c90f7","name":"Respond to Webhook1"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3424,608],"id":"a17405d2-ce7c-4103-91cd-0eb54b45147e","name":"Wait1","webhookId":"786df3e9-2fdc-49c0-a71a-ed972b14b985"},{"parameters":{"inputText":"={{ $json.schema.toJsonString() }}","categories":{"categories":[{"category":"text_crawler","description":"=Schema contains only text, numbers, and basic URLs like icon url. No image/video/media URLs detected. No image url or video url detected"},{"category":"browser_ai","description":"Schema contains image_url, video_url, media URLs, or other dynamic content requiring browser rendering"}]},"options":{}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1.1,"position":[352,816],"id":"ff842717-a0b5-4e25-972c-4742a068152a","name":"Text Classifier","retryOnFail":true,"maxTries":2},{"parameters":{"assignments":{"assignments":[{"id":"c06dc5f9-81d6-4f3b-8b18-277f1fe021b4","name":"prompt","value":"={{ $json.prompt }}","type":"string"},{"id":"1f6e3fb4-82b6-41d6-8129-ffc7d764ed77","name":"link_list","value":"={{ $('Edit Fields').item.json.link_list }}","type":"array"},{"id":"ce24f559-34e1-4248-9b4c-b0e73de9184b","name":"key","value":"={{ $('Edit Fields').item.json.key }}","type":"string"},{"id":"0185e070-e327-412c-bc0b-b127e35558b5","name":"type","value":"={{ $('Edit Fields').item.json.type }}","type":"string"},{"id":"c9776976-41d4-4913-aea7-f6daa9520607","name":"schema","value":"={{ $json.schema }}","type":"object"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1152,1088],"id":"8b184cef-0d13-4d1b-ad92-8627c185249f","name":"Edit Fields2"},{"parameters":{"promptType":"define","text":"=Here is the target websites: \n\n{{ $json.link_list }}\n\n\nTask: Use FireCrawl MCP to extract data strictly matching the following JSON Schema:\n\n{{ $json.schema.toJsonString() }}\n","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[2832,1856],"id":"ebea4354-c8e7-4339-bb5a-a8a4562fd392","name":"AI Agent2","executeOnce":true,"retryOnFail":false,"waitBetweenTries":5000,"maxTries":2},{"parameters":{"endpointUrl":"https://mcp.firecrawl.dev/fc-8e4e66ee77e442daaabd8d83be5ba046/v2/mcp","include":"selected","includeTools":["firecrawl_extract"],"options":{}},"type":"@n8n/n8n-nodes-langchain.mcpClientTool","typeVersion":1.2,"position":[2912,2112],"id":"396d8330-91d7-4fc3-95e7-ed60c957d5c3","name":"Firecrawl MCP"},{"parameters":{"description":"=# ROLE\nFireCrawl Extraction Architect.\n\n# OBJECTIVE\nYou are an orchestrator responsible for configuring the `FireCrawl MCP` tool. You do NOT have access to the website content directly. Your goal is to analyze the user's `Target Schema` and translate it into a precise extraction configuration (JSON Schema) that FireCrawl will use to scrape the website.\n\n# INPUT DATA\n1. **Target Schema:** The complex JSON structure the user wants (e.g., nested objects, arrays of FAQs).\n2. **Target URL:** The website link to scrape (if provided).\n\n# THINKING PROCESS (EXECUTION PLAN)\n1. **Schema Deconstruction:**\n   - Analyze the `Target Schema` depth. Identify nested objects (e.g., `faq.check_in`) and arrays (e.g., `faq.questions`).\n   - Determine strict data types for each field (String, Number, Boolean, Array).\n\n2. **Contextual Prompting Strategy:**\n   - For each field in the schema, formulate a brief description to guide FireCrawl's internal model.\n   - *Example:* If the field is `check_in.value`, the internal instruction should be \"The text describing the check-in time policy\".\n\n3. **Constraint Definition:**\n   - Define rules for FireCrawl: \"Return `null` if information is missing\" (to prevent hallucination at the source).\n   - Ensure the schema passed to the tool is valid JSON Schema structure."},"type":"@n8n/n8n-nodes-langchain.toolThink","typeVersion":1.1,"position":[2752,2080],"id":"03901daf-d162-4759-8f12-16c27b7a95c0","name":"Think1"},{"parameters":{"schemaType":"manual","inputSchema":"={{ $json.schema.toJsonString() }}","autoFix":true,"customizeRetryPrompt":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[3056,2144],"id":"e85cf376-9cdc-4aa4-8623-e5fd0604be9d","name":"Structured Output Parser1"},{"parameters":{"jsCode":"const type = $('Edit Fields2').first().json.type;\nconst link_list = $('Edit Fields2').first().json.link_list;\nconst key = $('Edit Fields2').first().json.key;\nconst content = $input.first().json.data;\n\n\nreturn  {\n  type,\n  link_list,\n  key,\n  content\n}\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1600,1088],"id":"9fedf087-df5f-431b-8c99-d1cfe351f658","name":"Combie Data1","alwaysOutputData":true},{"parameters":{"tableId":"iprefer_data_hotel","fieldsUi":{"fieldValues":[{"fieldId":"unique_url","fieldValue":"={{ $json.key }}"},{"fieldId":"content","fieldValue":"={{ $json.content }}"},{"fieldId":"link_list","fieldValue":"={{ $json.link_list }}"},{"fieldId":"type","fieldValue":"={{ $json.type }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[2048,1088],"id":"9e79a1ca-0f44-424e-9b14-5ceb63464c72","name":"Create a row1","credentials":{"supabaseApi":{"id":"r2d5wFwQqioeI8Vg","name":"Engineer UAT"}}},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[2496,1088],"id":"14ac3571-d50d-4292-999d-ec0e00e9a02e","name":"Respond to Webhook2"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2272,1088],"id":"08c92660-45bd-491c-9cef-9a17b257a972","name":"Wait2","webhookId":"786df3e9-2fdc-49c0-a71a-ed972b14b985"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-nano","mode":"list","cachedResultName":"gpt-4.1-nano"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2624,2080],"id":"bbbc8527-cd85-40a1-8130-24ebe2d61726","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"GCpPCYBZEEDWJdWu","name":"Iprefer UAT"}}},{"parameters":{"workflowId":{"__rl":true,"value":"6aZU0mykqEPKSNkl","mode":"list","cachedResultUrl":"/workflow/6aZU0mykqEPKSNkl","cachedResultName":"[IPrefer] - Workflow 5 - Download image to supabase"},"workflowInputs":{"mappingMode":"defineBelow","value":{}},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1824,1088],"id":"07b29ff7-08ac-4252-8429-6d114ba0ea4b","name":"Workflow 5 - Download image to supabase'"},{"parameters":{"workflowId":{"__rl":true,"value":"6aZU0mykqEPKSNkl","mode":"list","cachedResultUrl":"/workflow/6aZU0mykqEPKSNkl","cachedResultName":"[IPrefer] - Workflow 5 - Download image to supabase"},"workflowInputs":{"mappingMode":"defineBelow","value":{}},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[2976,608],"id":"4f00a30e-7466-452b-b583-ce12a9b25117","name":"Workflow 5 - Download image to supabase'1"},{"parameters":{"operation":"get","tableId":"iprefer_data_hotel","filters":{"conditions":[{"keyName":"unique_url","keyValue":"={{ $json.key }}"},{"keyName":"type","keyValue":"={{ $json.type }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-544,1008],"id":"1fc73d3b-f535-43d9-9844-e7d0f3ba1465","name":"Check If Have Existing Data","alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"r2d5wFwQqioeI8Vg","name":"Engineer UAT"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"61cbfe01-c802-4ed2-a550-6a9769dfd641","leftValue":"={{ $json.content }}","rightValue":"","operator":{"type":"object","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-320,1008],"id":"6f4e78ef-514f-4346-9a1f-35bae2a80d71","name":"If1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e801849c-84f7-4a45-9dd1-75c571ec2cc4","leftValue":"={{ $json.link_list }}","rightValue":"","operator":{"type":"array","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-768,1008],"id":"68798d97-2c3c-4e1e-bc53-f4363c634777","name":"Filter"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1","mode":"list","cachedResultName":"gpt-4.1"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2128,624],"id":"798272fd-dfd9-4b00-80a0-cd8bf90ab57f","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"GCpPCYBZEEDWJdWu","name":"Iprefer UAT"}}},{"parameters":{"jsCode":"const type = $('Edit Fields1').first().json.type;\nconst link_list = $('Edit Fields1').first().json.link_list;\nconst key = $('Edit Fields1').first().json.key;\nconst content = $input.first().json.output;\n\n\nreturn  {\n  type,\n  link_list,\n  key,\n  content\n}\n\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2752,608],"id":"64557004-a071-418d-ae9d-2b696dad70ce","name":"Combie Data","alwaysOutputData":true},{"parameters":{"model":{"__rl":true,"value":"gpt-5-nano-2025-08-07","mode":"list","cachedResultName":"gpt-5-nano-2025-08-07"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[288,1024],"id":"58aef92a-9fe4-4340-8494-14e2f4516247","name":"OpenAI Chat Model2","credentials":{"openAiApi":{"id":"GCpPCYBZEEDWJdWu","name":"Iprefer UAT"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-nano","mode":"list","cachedResultName":"gpt-4.1-nano"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2400,752],"id":"e3b7714b-cce2-4211-bd7a-2617b831d090","name":"OpenAI Chat Model3","credentials":{"openAiApi":{"id":"GCpPCYBZEEDWJdWu","name":"Iprefer UAT"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-nano","mode":"list","cachedResultName":"gpt-4.1-nano"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2944,2288],"id":"f63fd84c-fc9b-4a8a-aa9c-260763982104","name":"OpenAI Chat Model4","credentials":{"openAiApi":{"id":"GCpPCYBZEEDWJdWu","name":"Iprefer UAT"}}},{"parameters":{"workflowId":{"__rl":true,"value":"LCwzPouaKxfT8IQU","mode":"list","cachedResultUrl":"/workflow/LCwzPouaKxfT8IQU","cachedResultName":"[IPrefer] - Workflow 6 - Extract Website"},"workflowInputs":{"mappingMode":"defineBelow","value":{"prompt":"=Extract data from website into the JSON schema exactly","link_arrs":"={{ $json.link_list }}","schema":"={{ $json.schema }}"},"matchingColumns":[],"schema":[{"id":"link_arrs","displayName":"link_arrs","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false},{"id":"prompt","displayName":"prompt","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"string","removed":false},{"id":"schema","displayName":"schema","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"object","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[1376,1088],"id":"cc4a90a9-c6c4-4595-8024-bf3397120a2e","name":"Workflow 6 - Extract Website With FireCrawl"},{"parameters":{"workflowId":{"__rl":true,"value":"pM56fCGfhlJTqeNC","mode":"list","cachedResultUrl":"/workflow/pM56fCGfhlJTqeNC","cachedResultName":"[IPrefer] - Workflow 2 - Craw URLS Hostel Website"},"workflowInputs":{"mappingMode":"defineBelow","value":{"link_arrs":"={{ $json.link_list }}"},"matchingColumns":[],"schema":[{"id":"link_arrs","displayName":"link_arrs","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[1200,608],"id":"0f9d98dd-d0fc-4988-b9a7-95a3f56eb253","name":"Workflow 2 - Craw URLS Hotel Website","retryOnFail":true,"waitBetweenTries":5000}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Get Prompt By Type":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Text Classifier","type":"main","index":0}],[{"node":"Create New Prompt Type","type":"main","index":0}]]},"Create New Prompt Type":{"main":[[{"node":"Wait","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Combie Data","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Think":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Aggregate":{"main":[[{"node":"Merge data markdown","type":"main","index":0}]]},"Merge data markdown":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Workflow 2 - Craw URLS Hotel Website","type":"main","index":0}]]},"Create a row":{"main":[[{"node":"Wait1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Respond to Webhook1","type":"main","index":0}]]},"Text Classifier":{"main":[[{"node":"Edit Fields1","type":"main","index":0}],[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Workflow 6 - Extract Website With FireCrawl","type":"main","index":0}]]},"Firecrawl MCP":{"ai_tool":[[{"node":"AI Agent2","type":"ai_tool","index":0}]]},"Think1":{"ai_tool":[[{"node":"AI Agent2","type":"ai_tool","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"AI Agent2","type":"ai_outputParser","index":0}]]},"Combie Data1":{"main":[[{"node":"Workflow 5 - Download image to supabase'","type":"main","index":0}]]},"Create a row1":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Respond to Webhook2","type":"main","index":0}]]},"AI Agent2":{"main":[[]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0}]]},"Workflow 5 - Download image to supabase'":{"main":[[{"node":"Create a row1","type":"main","index":0}]]},"Workflow 5 - Download image to supabase'1":{"main":[[{"node":"Create a row","type":"main","index":0}]]},"Check If Have Existing Data":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Get Prompt By Type","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Check If Have Existing Data","type":"main","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Combie Data":{"main":[[{"node":"Workflow 5 - Download image to supabase'1","type":"main","index":0}]]},"OpenAI Chat Model2":{"ai_languageModel":[[{"node":"Text Classifier","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model3":{"ai_languageModel":[[{"node":"Structured Output Parser","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model4":{"ai_languageModel":[[{"node":"Structured Output Parser1","type":"ai_languageModel","index":0}]]},"Workflow 6 - Extract Website With FireCrawl":{"main":[[{"node":"Combie Data1","type":"main","index":0}]]},"Workflow 2 - Craw URLS Hotel Website":{"main":[[{"node":"Aggregate","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"versionId":"327d1d33-e126-4114-88fa-d6ddc108dfad","triggerCount":0,"shared":[{"createdAt":"2025-11-11T04:56:28.677Z","updatedAt":"2025-11-11T04:56:28.677Z","role":"workflow:owner","workflowId":"sRJcFadrXqq9NvkQ","projectId":"K1I3F6pgq5BCLa0R"}],"tags":[{"createdAt":"2025-11-07T06:28:36.236Z","updatedAt":"2025-11-07T06:28:36.236Z","id":"UBGqbTdgowP63yll","name":"IPrefer"}]}