workflows/[IPrefer] - Workflow 2 - Craw URLS Hotel Website.json
{"createdAt":"2025-11-07T06:27:48.232Z","updatedAt":"2025-12-20T05:33:04.393Z","id":"pM56fCGfhlJTqeNC","name":"[IPrefer] - Workflow 2 - Craw URLS Hotel Website","active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"https://api.firecrawl.dev/v2/crawl","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"url\": \"{{ $json.link_arrs }}\",\n  \"limit\": 2,\n  \"crawlEntireDomain\": true,\n  \"deduplicateSimilarURLs\": true,\n  \"scrapeOptions\": {\n    \"formats\": [\n      \"markdown\"\n    ],\n    \"maxAge\": 172800000\n  }\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[48,112],"id":"286cb0e0-3e39-4da9-9fa2-83e1486912e5","name":"Craw Website","credentials":{"httpHeaderAuth":{"id":"8FgjbPF34RRbvo43","name":"FireCrawl Engineer"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1616,544],"id":"b500fb6d-867d-4cf0-89f9-73af9c0b5fd1","name":"Wait2","webhookId":"2b6a2060-6362-462f-8961-87ba1d5f2514"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1120,432],"id":"91983844-8fc9-44b6-9963-a6d0894d36e5","name":"Wait1","webhookId":"eff7aba6-f21d-41d0-8501-0c96d82efe9e"},{"parameters":{"assignments":{"assignments":[{"id":"ffdcab6a-9768-4679-9837-c8ffece240a4","name":"id","value":"={{ $(\"Craw Website\").item.json.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[304,112],"id":"de55e953-aaaa-415b-b86b-e08e38609f78","name":"Edit Id Job FireCrawl"},{"parameters":{"url":"=https://api.firecrawl.dev/v2/crawl/{{ $json.id }}","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","options":{"batching":{"batch":{"batchSize":1,"batchInterval":15000}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[592,112],"id":"edcafe14-e2fc-4fa5-a751-ebccaad3b7c7","name":"Get Detail Job Craw","executeOnce":false,"alwaysOutputData":false,"credentials":{"httpHeaderAuth":{"id":"8FgjbPF34RRbvo43","name":"FireCrawl Engineer"}},"onError":"continueErrorOutput"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"17836dbe-22b1-43e2-bc4d-e6ca44c5dc41","leftValue":"={{ $json.status }}","rightValue":"completed","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[896,96],"id":"06ff5beb-c733-427d-98cf-bc57ab1246dd","name":"If","onError":"continueRegularOutput"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-192,96],"id":"d3175f99-82a7-4a06-bab4-ae7c308acbde","name":"Loop Over Items1"},{"parameters":{"respondWith":"allIncomingItems","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.4,"position":[32,-96],"id":"59d76868-4fe7-42b5-be27-7e4506beecd6","name":"Respond to Webhook"},{"parameters":{"inputSource":"jsonExample","jsonExample":"{\n\"link_arrs\" : [\n \n{\n\"link_list\": \n\"https://www.east-hamburg.de/hotel/zimmer\"\n},\n{\n\"link_list\": \n\"https://www.east-hamburg.de/en/hotel/rooms\"\n}\n]\n  \n}"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-800,96],"id":"f61e0a6d-b53a-499f-9843-d5d0be91560a","name":"When Executed by Another Workflow"},{"parameters":{"fieldToSplitOut":"link_arrs","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-496,96],"id":"0a11f305-6158-44c9-b18d-4b4d679ef8d9","name":"Split Out"}],"connections":{"Craw Website":{"main":[[{"node":"Edit Id Job FireCrawl","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Edit Id Job FireCrawl","type":"main","index":0}]]},"Edit Id Job FireCrawl":{"main":[[{"node":"Get Detail Job Craw","type":"main","index":0}]]},"Get Detail Job Craw":{"main":[[{"node":"If","type":"main","index":0}],[{"node":"Wait1","type":"main","index":0}]]},"If":{"main":[[{"node":"Wait2","type":"main","index":0}],[{"node":"Wait1","type":"main","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}],[{"node":"Craw Website","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"versionId":"3b7471fe-13e4-48ba-853f-234f434b8a04","triggerCount":0,"shared":[{"createdAt":"2025-11-07T06:27:48.232Z","updatedAt":"2025-11-07T06:27:48.232Z","role":"workflow:owner","workflowId":"pM56fCGfhlJTqeNC","projectId":"K1I3F6pgq5BCLa0R"}],"tags":[{"createdAt":"2025-11-07T06:28:36.236Z","updatedAt":"2025-11-07T06:28:36.236Z","id":"UBGqbTdgowP63yll","name":"IPrefer"}]}