workflows/[IPrefer] - Workflow 1 - Classify URL Hotel Website.json
{"createdAt":"2025-11-05T05:55:27.899Z","updatedAt":"2025-12-20T05:34:08.471Z","id":"VuW1liKI9Eojen7U","name":"[IPrefer] - Workflow 1 - Classify URL Hotel Website","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-2624,352],"id":"46178a29-1e3b-4818-9a56-516a0ee2549c","name":"Loop Over Items"},{"parameters":{"method":"POST","url":"https://api.firecrawl.dev/v2/map","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"url\": \"{{ $json.website_url }}\", \n    \"includeSubdomains\": false,\n    \"ignoreQueryParameters\": true\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1728,176],"id":"34983751-1ce7-4743-8c0f-ebb2b1c769f0","name":"Map Urls","retryOnFail":true,"maxTries":2,"credentials":{"httpHeaderAuth":{"id":"8FgjbPF34RRbvo43","name":"FireCrawl Engineer"}}},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"type\": \"object\",\n  \"properties\": {\n    \"grouped_links\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"overview\": { \"type\": \"array\", \"items\": { \"type\": \"string\" } },\n        \"accommodations\": { \"type\": \"array\", \"items\": { \"type\": \"string\" } },\n        \"amenities\": { \"type\": \"array\", \"items\": { \"type\": \"string\" } },\n        \"offers\": { \"type\": \"array\", \"items\": { \"type\": \"string\" } },\n        \"dining\": { \"type\": \"array\", \"items\": { \"type\": \"string\" } },\n        \"experiences\": { \"type\": \"array\", \"items\": { \"type\": \"string\" } },\n        \"location\": { \"type\": \"array\", \"items\": { \"type\": \"string\" } },\n        \"reviews\": { \"type\": \"array\", \"items\": { \"type\": \"string\" } },\n        \"faq\": { \"type\": \"array\", \"items\": { \"type\": \"string\" } }\n      },\n      \"required\": [\n        \"overview\",\n        \"accommodations\",\n        \"amenities\",\n        \"offers\",\n        \"dining\",\n        \"experiences\",\n        \"location\",\n        \"reviews\",\n        \"faq\"\n      ]\n    }\n  },\n  \"required\": [\"grouped_links\"]\n}","autoFix":true,"customizeRetryPrompt":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-1152,400],"id":"b0fac571-d32e-4521-afea-00fea5948ebd","name":"Structured Output Parser1"},{"parameters":{"promptType":"define","text":"=Help me filter this\n\n{{ $json.links.map(item => item.url).toJsonString() }}","hasOutputParser":true,"options":{"systemMessage":"=### Role\n\nYou are an assistant that analyzes a hotel’s website structure and classifies its internal URLs into **nine meaningful content groups** for structured data extraction.\nYour job is to **select URLs that are semantically relevant** to each group, not just by keyword but by the *purpose* the page serves in a hotel’s site.\nCurrent time: `{{ $now }}`\n\nYou receive an **array of URL objects** from one hotel domain and must return structured JSON grouping them appropriately.\n\nIn addition, you must **detect and remove duplicate or equivalent paths** that represent the same page in multiple languages or URL variants.\n\n---\n\n### Understanding the Purpose of Each Group\n\n**1. Overview**\n\n* The hotel’s main introduction page — typically the “Overview” or “About the Hotel” section.\n* Shows the **hero image**, badges, property description, and highlight cards (offers, featured room, review, restaurant).\n* Example URLs: `/overview/`, `/about-hotel/`, `/our-hotel/`.\n\n---\n\n**2. Accommodations**\n\n* Pages describing the hotel’s **rooms, suites, villas, or residences**.\n* Prefer **overview pages** summarizing all room types (e.g. `/accommodation/`, `/rooms/`, `/suites/`) instead of individual room subpages like `/rooms/deluxe-room`.\n* If multiple URLs exist, select the most complete or representative one.\n* Purpose: Understand **room options, features, capacity, and prices.**\n\n---\n\n**3. Amenities**\n\n* Pages describing the hotel’s **facilities and services** — spa, gym, pool, parking, event spaces, etc.\n* These show what guests can use or enjoy during their stay.\n* Prefer summary pages such as `/facilities/`, `/amenities/`, `/services/`.\n\n---\n\n**4. Dining**\n\n* Pages for **restaurants, bars, cafés, or lounges** within the hotel.\n* Include both overview pages and individual restaurant subpages (e.g. `/dining/le-cafe`).\n* Purpose: Show available **food and beverage venues**.\n\n---\n\n**5. Offers**\n\n* Pages about **special promotions, packages, or member deals**.\n* Prefer the main listing page (e.g. `/offers/`, `/deals/`, `/specials/`) over single promo detail pages.\n* Purpose: Display **discounts or exclusive rates** for booking incentives.\n\n---\n\n**6. Experiences**\n\n* Pages describing **activities, spa, wellness, or adventures** offered by the hotel.\n* Includes “Things to do,” “Recreation,” or “Experiences” pages.\n* Example URLs: `/experiences/`, `/activities/`, `/wellness/`, `/spa/`.\n* Purpose: Showcase **guest experiences and leisure options**.\n\n---\n\n**7. Location**\n\n* Pages explaining **where the hotel is located**, including maps, directions, and nearby attractions.\n* Example URLs: `/location/`, `/getting-here/`, `/map/`, `/neighborhood/`.\n* Purpose: Help guests **find the property or plan arrival.**\n\n---\n\n**8. Reviews**\n\n* Pages showing **guest reviews, ratings, or testimonials** — often sourced from TripAdvisor, Google, or the hotel’s own review system.\n* Example URLs: `/reviews/`, `/guest-reviews/`, `/testimonials/`.\n* Purpose: Provide **social proof and satisfaction scores.**\n\n---\n\n**9. FAQ**\n\n* Pages listing **frequently asked questions**, including check-in/out times, visitor policies, or general stay information.\n* Example URLs: `/faq/`, `/policies/`, `/information/`.\n* Purpose: Provide **helpful answers and stay details.**\n\n---\n\n### Behavior and Selection Rules\n\n1. Select **only URLs that provide or summarize real informational content** related to the hotel itself.\n   Skip marketing-only, booking, or corporate pages.\n\n2. When multiple URLs overlap in purpose, **prefer higher-level summary pages** (shorter paths, e.g., `/rooms/` over `/rooms/deluxe-room`).\n\n3. **Remove duplicate URLs or localized versions** of the same page:\n\n   * If multiple URLs share the same path content but differ only by **language prefix or suffix** (e.g., `/`, `/en/`, `/de/`), keep only **one canonical version**.\n   * Prefer the **default language or root path** version (the one without language code if possible).\n   * Treat the following as equivalent duplicates:\n\n     * `/hotel` = `/en/hotel` = `/de/hotel`\n     * `/rooms/` = `/en/rooms/`\n   * Deduplicate also by **normalized slug similarity**, ignoring case and trailing slashes.\n\n4. Do **not** include:\n\n   * Homepages (`/`)\n   * Booking or reservation pages (`/book`, `/reserve`, `/availability`)\n   * Legal, corporate, or unrelated sections (`/privacy`, `/terms`, `/careers`, `/media`, `/policy`, `/news`, `/events`, `/404`)\n   * Sitemap, PDFs, press releases, or gallery-only pages.\n\n5. Never fabricate or modify URLs — only use those from the input array.\n\n6. If no matching URLs exist for a group, return an **empty array** for that group.\n\n---\n\n### Output Rules\n\n* Output **valid JSON only**, no markdown or commentary.\n* Use the root key `\"grouped_links\"`.\n* Each property under `\"grouped_links\"` must be an array of URLs (strings).\n* Always include all **nine categories**, even if empty.\n* Each URL list must be **deduplicated and canonicalized** so no language-based or repeated paths remain.\n\n---\n\n### Example Behavior\n\n**If input URLs include:**\n\n```\nhttps://www.east-hamburg.de/hotel\nhttps://www.east-hamburg.de/en/hotel\n```\n\n**Expected output keeps only one:**\n\n```json\n{\n  \"grouped_links\": {\n    \"overview\": [\"https://www.east-hamburg.de/hotel\"],\n    ...\n  }\n}\n```\n\n---\n\n### Deduplication Logic Summary\n\n* Normalize URLs by:\n\n  * Removing trailing slashes\n  * Ignoring case differences\n  * Ignoring language subpaths like `/en/`, `/de/`, `/fr/`\n* Keep only one canonical URL per unique logical page.\n* Prefer the **shortest or root-path** version.\n\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-1248,176],"id":"cc4fc33d-a95d-4f88-aff9-b8c48d359518","name":"Filter Useful Urls Agent"},{"parameters":{"content":"## Setup and remove duplicate data lead list","height":512,"width":1152,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-3920,240],"typeVersion":1,"id":"54ecd0d1-a3d1-4c9f-9f4b-cd6c7a048c41","name":"Sticky Note"},{"parameters":{"content":"## Crawl all useful data in their website","height":800,"width":3120},"type":"n8n-nodes-base.stickyNote","position":[-2736,-48],"typeVersion":1,"id":"43fa4733-24c7-4a60-a0dd-588a43018522","name":"Sticky Note1"},{"parameters":{"compare":"selectedFields","fieldsToCompare":"rootWebsite","options":{}},"type":"n8n-nodes-base.removeDuplicates","typeVersion":2,"position":[-3168,352],"id":"cea63730-c186-4b89-8f07-130109fffba5","name":"Remove Duplicates"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"ac2b800f-907f-48bb-a724-a5a9d7bb307a","leftValue":"={{ $json.website_url }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1952,176],"id":"53fee477-3147-42c7-b895-2afab598b97e","name":"Is Have Website Link"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"1c695e0b-8b06-4fb8-9799-acfe66bd6633","leftValue":"={{ $json.links.length }}","rightValue":1,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-1504,176],"id":"5cc89e2b-d057-4706-b6a2-8cba45f6710c","name":"Is Have SiteMap Urls"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-3840,352],"id":"cd65ff14-2407-48ce-b7d0-1ba318509f50","name":"When clicking ‘Execute workflow’"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"44d5d8f2-ac09-4d53-897f-20d04291bacd","leftValue":"={{ $json.is_scraped }}","rightValue":"","operator":{"type":"boolean","operation":"false","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-2944,352],"id":"e16164f1-9a45-409b-826d-0562d6484c88","name":"Filter Website Not Scraped"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-1376,416],"id":"311e0112-22e3-4ea5-b6ac-e52df47d6bf1","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"FmRyK6eix6WE8FwS","name":"Iprefer"}}},{"parameters":{"documentId":{"__rl":true,"value":"19INqP7vS3ES_j5aA8zTba0l_izc6n04OXrr_6_tg3jw","mode":"list","cachedResultName":"List Hostel","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19INqP7vS3ES_j5aA8zTba0l_izc6n04OXrr_6_tg3jw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19INqP7vS3ES_j5aA8zTba0l_izc6n04OXrr_6_tg3jw/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"is_scraped","lookupValue":"false"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-3616,352],"id":"0364a0be-1cd9-4f4e-ba04-6620a5abb689","name":"Get List Hostel","credentials":{"googleSheetsOAuth2Api":{"id":"RRGrkQ02VEC4ffU0","name":"Engineer Google"}}},{"parameters":{"fieldToSplitOut":"unique_id","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-2400,176],"id":"dc53f7f7-ad2c-467b-ace3-f57dfe967ba7","name":"Split Hostel Path"},{"parameters":{"assignments":{"assignments":[{"id":"90af9358-8095-4170-8121-378723b161e7","name":"website_url","value":"={{ $('Loop Over Items').item.json.rootWebsite }}","type":"string"},{"id":"c2eeb8cf-42a9-4db9-a4d3-e07a56883123","name":"unique_id","value":"={{ $('Loop Over Items').item.json.unique_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2176,176],"id":"3c2403e6-5368-4270-ab07-6ff6a9f4bcee","name":"Choose 1 Website"},{"parameters":{"modelName":"models/gemini-2.0-flash","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-1072,608],"id":"8c7bec22-d333-4e47-a58b-8fc6dc895347","name":"Google Gemini Chat Model2","credentials":{"googlePalmApi":{"id":"FmRyK6eix6WE8FwS","name":"Iprefer"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"const rawWebsite = $json.Url;\n\nfunction simpleHash(str) {\n  let hash = 0;\n  if (!str) return \"0\";\n  for (let i = 0; i < str.length; i++) {\n    const chr = str.charCodeAt(i);\n    hash = ((hash << 5) - hash) + chr;\n    hash |= 0; // 32-bit int\n  }\n  return Math.abs(hash).toString();\n}\n\n\nlet rootWebsite = rawWebsite;\nif (rawWebsite && typeof rawWebsite === \"string\") {\n  const match = rawWebsite.match(/^(https?:\\/\\/)?([^\\/]+)/);\n  if (match) {\n    rootWebsite = match[2].toLowerCase();\n  }\n}\n\n\nconst baseStr = `${($json.name || \"\").toLowerCase().trim()}|${rootWebsite}`;\nconst unique_id = simpleHash(baseStr);\n\nreturn { \n  unique_id,\n  rootWebsite,\n  ...$json\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3392,352],"id":"33f292b7-68ff-4407-828c-f4318ea1eaf2","name":"Code in JavaScript"},{"parameters":{"jsCode":"// Get the grouped links object from previous node\nconst Group_Links = $input.first().json.output.grouped_links;\n\n// Get the default key\nconst default_key = $('Choose 1 Website').first().json.website_url;\n\n// Prepare the event array\nconst event_array = [];\n\n// Loop through each category inside grouped_links\nfor (const [type, link_list] of Object.entries(Group_Links)) {\n  event_array.push({\n    type,\n    key: default_key,\n    link_list\n  });\n}\n\n// Return the formatted array to next workflow step\nreturn {\n  event_array\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-864,176],"id":"2e0c3a5e-b4c5-4524-8418-1e1c97e18937","name":"Build Event"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-64,352],"id":"a6b4b072-5c0b-4ba4-94a4-af008a1687cd","name":"Wait1","webhookId":"ed771682-8e40-4b79-b61c-95b523af2439"},{"parameters":{"assignments":{"assignments":[{"id":"d3997a45-5f52-45c6-a1ce-257d6aab9515","name":"event_array","value":"={{ $json.event_array }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-576,176],"id":"857abeef-c781-46b4-a57f-71dcce1b1b15","name":"Edit Fields"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"19INqP7vS3ES_j5aA8zTba0l_izc6n04OXrr_6_tg3jw","mode":"list","cachedResultName":"List Hostel","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19INqP7vS3ES_j5aA8zTba0l_izc6n04OXrr_6_tg3jw/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Sheet1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/19INqP7vS3ES_j5aA8zTba0l_izc6n04OXrr_6_tg3jw/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"is_scraped":"true","unique_id":"={{ $('Choose 1 Website').item.json.unique_id }}"},"matchingColumns":["unique_id"],"schema":[{"id":"unique_id","displayName":"unique_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"Name","displayName":"Name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Url","displayName":"Url","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"Root Domain","displayName":"Root Domain","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"is_scraped","displayName":"is_scraped","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[144,512],"id":"96603aa6-2d0b-41f5-b3dd-dfdcd836e6f5","name":"Update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"RRGrkQ02VEC4ffU0","name":"Engineer Google"}}},{"parameters":{"workflowId":{"__rl":true,"value":"LHBEwGEbSGbjbo2T","mode":"list","cachedResultUrl":"/workflow/LHBEwGEbSGbjbo2T","cachedResultName":"[IPrefer] - Workflow 3 - Loop For Every Type Event"},"workflowInputs":{"mappingMode":"defineBelow","value":{"event_array":"={{ $json.event_array }}"},"matchingColumns":["event_array"],"schema":[{"id":"event_array","displayName":"event_array","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"array","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[-304,176],"id":"9586b2fe-6bb9-4141-9537-5193f26dd60c","name":"Workflow 3 - Loop For Every Type Event"}],"connections":{"Loop Over Items":{"main":[[],[{"node":"Split Hostel Path","type":"main","index":0}]]},"Map Urls":{"main":[[{"node":"Is Have SiteMap Urls","type":"main","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"Filter Useful Urls Agent","type":"ai_outputParser","index":0}]]},"Filter Useful Urls Agent":{"main":[[{"node":"Build Event","type":"main","index":0}]]},"Remove Duplicates":{"main":[[{"node":"Filter Website Not Scraped","type":"main","index":0}]]},"Is Have Website Link":{"main":[[{"node":"Map Urls","type":"main","index":0}],[]]},"Is Have SiteMap Urls":{"main":[[{"node":"Filter Useful Urls Agent","type":"main","index":0}],[]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Get List Hostel","type":"main","index":0}]]},"Filter Website Not Scraped":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"Filter Useful Urls Agent","type":"ai_languageModel","index":0}]]},"Get List Hostel":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Split Hostel Path":{"main":[[{"node":"Choose 1 Website","type":"main","index":0}]]},"Choose 1 Website":{"main":[[{"node":"Is Have Website Link","type":"main","index":0}]]},"Google Gemini Chat Model2":{"ai_languageModel":[[{"node":"Structured Output Parser1","type":"ai_languageModel","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Remove Duplicates","type":"main","index":0}]]},"Build Event":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Update row in sheet","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Workflow 3 - Loop For Every Type Event","type":"main","index":0}]]},"Update row in sheet":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Workflow 3 - Loop For Every Type Event":{"main":[[{"node":"Wait1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"versionId":"12ede642-8717-4107-9e38-ebbc8a14cd26","triggerCount":1,"shared":[{"createdAt":"2025-11-05T05:55:27.899Z","updatedAt":"2025-11-05T05:55:27.899Z","role":"workflow:owner","workflowId":"VuW1liKI9Eojen7U","projectId":"K1I3F6pgq5BCLa0R"}],"tags":[{"createdAt":"2025-11-07T06:28:36.236Z","updatedAt":"2025-11-07T06:28:36.236Z","id":"UBGqbTdgowP63yll","name":"IPrefer"}]}