workflows/[People Street] - Workflow 3 - Add Lead To HeyReach.json
{"createdAt":"2025-12-20T15:36:13.813Z","updatedAt":"2025-12-31T09:27:19.469Z","id":"exqDmWHzD0orYtzq","name":"[People Street] - Workflow 3 - Add Lead To HeyReach","active":false,"isArchived":false,"nodes":[{"parameters":{"batchSize":15,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-560,-16],"id":"b8d5cf63-f328-4ee2-8c28-3bf2d0d5ba34","name":"Loop Over Items"},{"parameters":{"assignments":{"assignments":[{"id":"567c62c4-4f73-4127-bc54-2161b6d25db1","name":"campaignId","value":"283813","type":"string"},{"id":"d1bc32c8-9c35-4584-9063-3d4c18db74ad","name":"account_id","value":"136617","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1328,-16],"id":"2b9c378c-972a-41e4-9a60-4549f55af025","name":"Global Variable"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[704,80],"id":"3ae80eae-6a6b-4e28-9530-89c8ccb0d1cc","name":"Wait","webhookId":"abd7158b-e4a2-4ccc-84ef-46583639d203"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"010c1243-4b39-4553-8c65-783d064c2128","leftValue":"={{ $json.linkedin }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-832,-16],"id":"12b587ef-c2b9-460f-927f-a2da179024a1","name":"Filter"},{"parameters":{"assignments":{"assignments":[{"id":"a5819072-5cbd-4050-81da-c3b3c9b7243e","name":"unique_id","value":"={{ $json.unique }}","type":"string"},{"id":"2dd64dc4-73bb-49fa-9940-5ff110a093e0","name":"first_name","value":"={{ $json.first_name }}","type":"string"},{"id":"3d001f07-fec1-4187-8879-eb04727bed52","name":"last_name","value":"={{ $json.last_name }}","type":"string"},{"id":"3de0f304-8a61-48a5-b208-6de5d46220ca","name":"linkedin_url","value":"={{ $json.linkedin }}","type":"string"},{"id":"9316cf3d-c220-4552-beff-f83696af26cd","name":"email","value":"={{ $json.email }}","type":"string"},{"id":"5394826b-e06e-413b-8d56-3a5dfeadbd4e","name":"position","value":"={{ $json.job_title }}","type":"string"},{"id":"0221ed58-11c3-49cd-a588-3c3409427fdc","name":"company_name","value":"={{ $json.company_name }}","type":"string"},{"id":"e9935b23-b9b0-4bad-9681-c2e968525ddf","name":"location","value":"={{ $json.country }}","type":"string"},{"id":"16a44128-1fec-4260-90ff-011ca5592837","name":"company_domain","value":"={{ $json.company_domain }}","type":"string"},{"id":"dc3b549c-a2b9-46a9-8274-6cb7c59bd8a4","name":"company_link","value":"={{ $json.company_linkedin }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-320,96],"id":"5ae783c2-36ee-494a-9fcc-d9afec9ded1f","name":"Set Data"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"lead_list","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-64,96],"id":"3473a302-b670-479a-a92f-93c536038051","name":"Aggregate"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1I3NtHjH-p_oUlcg0PFlTqlvCAyIbDdT9eqxU_0hU9Jc","mode":"list","cachedResultName":"People Street Lead List - Apollo","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1I3NtHjH-p_oUlcg0PFlTqlvCAyIbDdT9eqxU_0hU9Jc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":374785923,"mode":"list","cachedResultName":"UAT_APIFY","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1I3NtHjH-p_oUlcg0PFlTqlvCAyIbDdT9eqxU_0hU9Jc/edit#gid=374785923"},"columns":{"mappingMode":"defineBelow","value":{"is_add_campagin_heyreach":"true","unique":"={{ $json.unique_id }}"},"matchingColumns":["unique"],"schema":[{"id":"unique","displayName":"unique","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"is_add_campagin_heyreach","displayName":"is_add_campagin_heyreach","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"is_add_campagin_instantly","displayName":"is_add_campagin_instantly","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"first_name","displayName":"first_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"last_name","displayName":"last_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"mobile_number","displayName":"mobile_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"personal_email","displayName":"personal_email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"company_name","displayName":"company_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"company_website","displayName":"company_website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedin","displayName":"linkedin","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"full_name","displayName":"full_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"job_title","displayName":"job_title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"industry","displayName":"industry","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"headline","displayName":"headline","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"seniority_level","displayName":"seniority_level","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"company_linkedin","displayName":"company_linkedin","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"functional_level","displayName":"functional_level","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"company_size","displayName":"company_size","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"city","displayName":"city","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"state","displayName":"state","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"country","displayName":"country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"company_annual_revenue","displayName":"company_annual_revenue","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"company_annual_revenue_clean","displayName":"company_annual_revenue_clean","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"company_description","displayName":"company_description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"company_total_funding","displayName":"company_total_funding","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"company_total_funding_clean","displayName":"company_total_funding_clean","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"keywords","displayName":"keywords","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"company_technologies","displayName":"company_technologies","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"company_linkedin_uid","displayName":"company_linkedin_uid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"company_founded_year","displayName":"company_founded_year","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"company_domain","displayName":"company_domain","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"company_phone","displayName":"company_phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"company_street_address","displayName":"company_street_address","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"company_full_address","displayName":"company_full_address","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"company_state","displayName":"company_state","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"company_city","displayName":"company_city","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"company_country","displayName":"company_country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"company_postal_code","displayName":"company_postal_code","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-64,-80],"id":"19acfe8d-9498-4cbe-b628-1f786fedf664","name":"Update Unique","credentials":{"googleSheetsOAuth2Api":{"id":"RRGrkQ02VEC4ffU0","name":"Engineer Google"}}},{"parameters":{"jsCode":"const campaignId = $('Global Variable').first().json.campaignId;\nconst accountId = $('Global Variable').first().json.account_id;\nconst leads = $input.first().json.lead_list;\n\nconst accountLeadPairs = leads.map(lead => ({\n  lead: {\n    firstName: lead.first_name || \"\",\n    lastName: lead.last_name || \"\",\n    profileUrl: lead.linkedin_url || \"\",\n    location: lead.location || \"\",\n    companyName: lead.company_name || \"\",\n    position: lead.position || \"\",\n    emailAddress: lead.email || \"\",\n    customUserFields: [\n      { name: \"unique_id\", value: lead.unique_id || \"\" },\n      { name: \"company_domain\", value: lead.company_domain || \"\" },\n      { name: \"company_link\", value: lead.company_link || \"\" },\n      { name: \"first_name\", value: lead.first_name || \"\" },\n      { name: \"last_name\", value: lead.last_name || \"\" }\n    ]\n  },\n  linkedInAccountId: accountId\n}));\n\nreturn {\n  json: {\n    payload: {\n      campaignId,\n    resumeFinishedCampaign: false,\n    resumePausedCampaign: false,\n    accountLeadPairs\n    }\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[160,96],"id":"e0f8f63d-3608-4c2c-b226-2d6c1cfe8385","name":"Lead List Transform Payload"},{"parameters":{"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[704,272],"id":"e7890a22-cffa-420d-8fce-ebed5125d54d","name":"Edit Fields"},{"parameters":{"method":"POST","url":"https://api.heyreach.io/api/public/campaign/AddLeadsToCampaignV2","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.payload.toJsonString() }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[384,96],"id":"69981c07-5f85-4e6b-806e-87b0a4123d26","name":"Hey Reach Campagin","executeOnce":true,"credentials":{"httpHeaderAuth":{"id":"Uhmx2P49U2YU8tpV","name":"HeyReach PROD"}},"onError":"continueErrorOutput"},{"parameters":{"workflowInputs":{"values":[{"name":"list_item","type":"array"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-1552,-16],"id":"d690cf8b-05f6-4c91-9423-b25837e6242b","name":"When Executed by Another Workflow"},{"parameters":{"fieldToSplitOut":"list_item","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-1088,-16],"id":"493b04e1-9849-4429-bd78-1ef841153e9b","name":"Split Out"},{"parameters":{"content":"# Handle Add Lead To HeyReach","height":208,"width":752},"type":"n8n-nodes-base.stickyNote","position":[-1568,-256],"typeVersion":1,"id":"dd9a06ab-cac1-43b2-a5ed-d421d3df707d","name":"Sticky Note"}],"connections":{"Loop Over Items":{"main":[[],[{"node":"Set Data","type":"main","index":0}]]},"Global Variable":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Set Data":{"main":[[{"node":"Aggregate","type":"main","index":0},{"node":"Update Unique","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Lead List Transform Payload","type":"main","index":0}]]},"Lead List Transform Payload":{"main":[[{"node":"Hey Reach Campagin","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Hey Reach Campagin":{"main":[[{"node":"Wait","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Global Variable","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Filter","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"versionId":"d793b65a-a111-4c3a-a53e-4cfe5b6d2bb3","triggerCount":0,"shared":[{"createdAt":"2025-12-20T15:36:13.813Z","updatedAt":"2025-12-20T15:36:13.813Z","role":"workflow:owner","workflowId":"exqDmWHzD0orYtzq","projectId":"K1I3F6pgq5BCLa0R"}],"tags":[]}