workflows/[People Street] - Add Lead To Campagin.json
{"createdAt":"2025-12-09T11:38:32.465Z","updatedAt":"2025-12-20T05:33:34.141Z","id":"sKx3NgSDF4okqkA7","name":"[People Street] - Add Lead To Campagin","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1584,16],"id":"48c98627-8fab-4624-8cdb-1f26ff1d2f34","name":"When clicking ‘Execute workflow’"},{"parameters":{"documentId":{"__rl":true,"value":"1I3NtHjH-p_oUlcg0PFlTqlvCAyIbDdT9eqxU_0hU9Jc","mode":"list","cachedResultName":"People Street Lead List - Apollo","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1I3NtHjH-p_oUlcg0PFlTqlvCAyIbDdT9eqxU_0hU9Jc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"UAT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1I3NtHjH-p_oUlcg0PFlTqlvCAyIbDdT9eqxU_0hU9Jc/edit#gid=0"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-1136,16],"id":"0be1fcdb-f31b-455d-8b3e-32372daaf27d","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"RRGrkQ02VEC4ffU0","name":"Engineer Google"}}},{"parameters":{"batchSize":15,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-912,16],"id":"ad0b5f9d-2022-49bb-8357-97bbb6bc8417","name":"Loop Over Items"},{"parameters":{"value":"={{ $json.linkedin }}"},"type":"n8n-nodes-base.crypto","typeVersion":1,"position":[-688,128],"id":"a70a9b0e-3ae3-47a3-bd38-c1c1ba1e2bee","name":"Crypto"},{"parameters":{"assignments":{"assignments":[{"id":"567c62c4-4f73-4127-bc54-2161b6d25db1","name":"campaignId","value":"283813","type":"string"},{"id":"d1bc32c8-9c35-4584-9063-3d4c18db74ad","name":"account_id","value":"136617","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1360,16],"id":"6ea1d64d-5bf7-4546-84d9-f753a9141474","name":"Global Variable"},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[768,112],"id":"fd604479-1acf-4398-b0cd-211b4a67a21e","name":"Wait","webhookId":"abd7158b-e4a2-4ccc-84ef-46583639d203"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"010c1243-4b39-4553-8c65-783d064c2128","leftValue":"={{ $json.linkedin }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-464,128],"id":"5c1ecbb6-0e25-4be8-bf1d-6f91ecb7ba48","name":"Filter"},{"parameters":{"assignments":{"assignments":[{"id":"a5819072-5cbd-4050-81da-c3b3c9b7243e","name":"unique_id","value":"={{ $json.data }}","type":"string"},{"id":"2dd64dc4-73bb-49fa-9940-5ff110a093e0","name":"first_name","value":"={{ $json.first_name }}","type":"string"},{"id":"3d001f07-fec1-4187-8879-eb04727bed52","name":"last_name","value":"={{ $json.last_name }}","type":"string"},{"id":"3de0f304-8a61-48a5-b208-6de5d46220ca","name":"linkedin_url","value":"={{ $json.linkedin }}","type":"string"},{"id":"9316cf3d-c220-4552-beff-f83696af26cd","name":"email","value":"={{ $json.email }}","type":"string"},{"id":"5394826b-e06e-413b-8d56-3a5dfeadbd4e","name":"position","value":"={{ $json.position }}","type":"string"},{"id":"0221ed58-11c3-49cd-a588-3c3409427fdc","name":"company_name","value":"={{ $json.company_name }}","type":"string"},{"id":"e9935b23-b9b0-4bad-9681-c2e968525ddf","name":"location","value":"={{ $json.location }}","type":"string"},{"id":"16a44128-1fec-4260-90ff-011ca5592837","name":"company_domain","value":"={{ $json.company_domain }}","type":"string"},{"id":"dc3b549c-a2b9-46a9-8274-6cb7c59bd8a4","name":"company_link","value":"={{ $json.company_link }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-240,128],"id":"735a03ea-f0eb-47f9-a43a-fb7c0401806d","name":"Set Data"},{"parameters":{"aggregate":"aggregateAllItemData","destinationFieldName":"lead_list","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[0,128],"id":"e8ea8807-56f0-4e0b-8dd6-483bc42d5a09","name":"Aggregate"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1I3NtHjH-p_oUlcg0PFlTqlvCAyIbDdT9eqxU_0hU9Jc","mode":"list","cachedResultName":"People Street Lead List - Apollo","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1I3NtHjH-p_oUlcg0PFlTqlvCAyIbDdT9eqxU_0hU9Jc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"UAT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1cXBnneicleNMzkpVcPY73PF-srHpsTNQQZLlI9SgNKU/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"linkedin":"={{ $json.linkedin_url }}","unique_id":"={{ $json.unique_id }}"},"matchingColumns":["linkedin"],"schema":[{"id":"unique_id","displayName":"unique_id","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"first_name","displayName":"first_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"last_name","displayName":"last_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedin","displayName":"linkedin","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"industry","displayName":"industry","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email_status","displayName":"email_status","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"personal_email","displayName":"personal_email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"generic_email","displayName":"generic_email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"generic_phone","displayName":"generic_phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"num_of_connections","displayName":"num_of_connections","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"location","displayName":"location","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"company_name","displayName":"company_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"company_link","displayName":"company_link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"company_domain","displayName":"company_domain","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"company_size","displayName":"company_size","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"current_position_1","displayName":"current_position_1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"current_position_2","displayName":"current_position_2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"current_position_3","displayName":"current_position_3","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"position_1","displayName":"position_1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"position_2","displayName":"position_2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"position_3","displayName":"position_3","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"emails","displayName":"emails","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"position","displayName":"position","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[0,-48],"id":"f75c0cdc-15b4-43d8-861b-d022258a02d6","name":"Update Unique","credentials":{"googleSheetsOAuth2Api":{"id":"RRGrkQ02VEC4ffU0","name":"Engineer Google"}}},{"parameters":{"jsCode":"const campaignId = $('Global Variable').first().json.campaignId;\nconst accountId = $('Global Variable').first().json.account_id;\nconst leads = $input.first().json.lead_list;\n\nconst accountLeadPairs = leads.map(lead => ({\n  lead: {\n    firstName: lead.first_name || \"\",\n    lastName: lead.last_name || \"\",\n    profileUrl: lead.linkedin_url || \"\",\n    location: lead.location || \"\",\n    companyName: lead.company_name || \"\",\n    position: lead.position || \"\",\n    emailAddress: lead.email || \"\",\n    customUserFields: [\n      { name: \"unique_id\", value: lead.unique_id || \"\" },\n      { name: \"company_domain\", value: lead.company_domain || \"\" },\n      { name: \"company_link\", value: lead.company_link || \"\" },\n      { name: \"first_name\", value: lead.first_name || \"\" },\n      { name: \"last_name\", value: lead.last_name || \"\" }\n    ]\n  },\n  linkedInAccountId: accountId\n}));\n\nreturn {\n  json: {\n    payload: {\n      campaignId,\n    resumeFinishedCampaign: false,\n    resumePausedCampaign: false,\n    accountLeadPairs\n    }\n  }\n};\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[224,128],"id":"38e201d8-989b-4f18-9d25-e3fb8cc8d75b","name":"Lead List Transform Payload"},{"parameters":{"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[768,304],"id":"e6bc65a9-1519-46b7-849b-559a8bf77f6f","name":"Edit Fields"},{"parameters":{"method":"POST","url":"https://api.heyreach.io/api/public/campaign/AddLeadsToCampaignV2","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.payload.toJsonString() }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[448,128],"id":"49c1d7ea-8674-46d2-8d00-544b08cf089d","name":"Hey Reach Campagin","executeOnce":true,"credentials":{"httpHeaderAuth":{"id":"Uhmx2P49U2YU8tpV","name":"HeyReach PROD"}},"onError":"continueErrorOutput"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Global Variable","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Crypto","type":"main","index":0}]]},"Crypto":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Global Variable":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Set Data","type":"main","index":0}]]},"Set Data":{"main":[[{"node":"Aggregate","type":"main","index":0},{"node":"Update Unique","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Lead List Transform Payload","type":"main","index":0}]]},"Lead List Transform Payload":{"main":[[{"node":"Hey Reach Campagin","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Hey Reach Campagin":{"main":[[{"node":"Wait","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"versionId":"ffcfc72e-d54e-42a8-9b10-c1ff941d60b9","triggerCount":0,"shared":[{"createdAt":"2025-12-09T11:38:32.465Z","updatedAt":"2025-12-09T11:38:32.465Z","role":"workflow:owner","workflowId":"sKx3NgSDF4okqkA7","projectId":"K1I3F6pgq5BCLa0R"}],"tags":[{"createdAt":"2025-12-09T11:40:41.724Z","updatedAt":"2025-12-09T11:40:41.724Z","id":"s4TMwws0tPVBhT9n","name":"People Street"}]}