workflows/[People Street] - Workflow 2 - Add Lead To  Instantly.json
{"createdAt":"2025-12-20T15:21:40.088Z","updatedAt":"2025-12-31T09:26:52.580Z","id":"QdqvYbpcQ8Gjhwry","name":"[People Street] - Workflow 2 - Add Lead To  Instantly","active":false,"isArchived":false,"nodes":[{"parameters":{"batchSize":20,"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1232,64],"id":"5df80e98-9274-4a41-8005-27f3cff37c63","name":"Loop Over Items"},{"parameters":{"method":"POST","url":"https://api.instantly.ai/api/v2/leads","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"skip_if_in_list\": true,\n  \"list_id\": \"{{ $('Default Variant').item.json.list_id }}\",\n  \"email\": \"{{ $json.email || '' }}\",\n  \"first_name\": \"{{ $json.first_name || '' }}\",\n  \"last_name\": \"{{ $json.last_name || '' }}\",\n  \"linkedin\":\"{{ $json.linkedin_url || '' }}\",\n  \"custom_variables\": {\n    \"company_name\": \"{{ $json.company_name || '' }}\",\n    \"company_linkedin_url\": \"{{ $json.company_link || '' }}\",\n \"company_size\": \"{{ $json.company_size || '' }}\",\n    \"company_address\": \"{{ $json.company_address || '' }}\"\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1936,256],"id":"439a7773-fd87-4b48-b335-8779b050050c","name":"Save email Lead List","executeOnce":false,"credentials":{"httpHeaderAuth":{"id":"8m4rEUBSWDBPr16s","name":"Instantly People Street PROD"}}},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2336,336],"id":"a6812bd1-90ab-4130-b61d-95ec235ac179","name":"Wait","webhookId":"b5e19aba-1970-436d-a10e-9953b1686ceb"},{"parameters":{"assignments":{"assignments":[{"id":"1618399b-7cb7-41ae-817e-d8e872b4e70f","name":"list_id","value":"61aa6e85-0244-4920-b761-693a18123474","type":"string"},{"id":"ef886a07-71fd-44b8-bd2f-84deecd02727","name":"limit_leads","value":"100","type":"string"},{"id":"906b322d-3f97-4119-9498-6164df12a1fe","name":"campaign_id","value":"521dfd18-5b42-4d93-b2c8-6a517c51f7d6","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[560,64],"id":"4388f2d0-384b-413d-a7c0-92ec6c6a94f6","name":"Default Variant"},{"parameters":{"workflowInputs":{"values":[{"name":"list_item","type":"array"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[336,64],"id":"40cb4f6b-a0f0-42f0-9466-cd4592bc7ccd","name":"When Executed by Another Workflow"},{"parameters":{"fieldToSplitOut":"list_item","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[784,64],"id":"1c5a6889-8331-4a3c-b94b-8fd6c20158ab","name":"Split Out"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"0829d9bd-631a-478d-acc8-57b45e7c9136","leftValue":"={{ $json.email }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[1008,64],"id":"5f608eaa-ecd2-47c2-88ea-5570de20b7be","name":"Filter"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[3120,-80],"id":"ecc73ee0-fee1-4519-8e48-900880356c90","name":"Wait1","webhookId":"b68f4d3f-9969-4139-a943-266455b82725"},{"parameters":{"jsCode":"const items = $input.first().json.items;\n\nconst emails = [];\n\nfor (const item of items) {\n  emails.push(item.email);         // Collect emails\n}\n\nreturn [\n  {\n    json: {\n      emails,\n      updatedItems: items  \n    }\n  }\n];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2240,-192],"id":"95625ab5-1385-4bf0-8aeb-f2fa249c784d","name":"Get array of emails"},{"parameters":{"method":"POST","url":"https://api.instantly.ai/api/v2/leads/list","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"list_id\": \"{{ $('Edit Fields').item.json.list_id }}\",\n   \"limit\": \"{{ $('Edit Fields').item.json.limit_leads }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1808,-192],"id":"d4033b78-5cd8-4928-ba99-86d80956050d","name":"Choose Contract email from Lead List","executeOnce":true,"credentials":{"httpHeaderAuth":{"id":"8m4rEUBSWDBPr16s","name":"Instantly People Street PROD"}}},{"parameters":{"method":"POST","url":"https://api.instantly.ai/api/v2/leads/move","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"copy_leads\": false,\n  \"check_duplicates\": true,\n  \"list_id\": \"{{ $('Edit Fields').item.json.list_id }}\",\n  \"to_campaign_id\": \"{{ $('Edit Fields').item.json.campaign_id }}\",\n  \"contacts\": {{ $json.emails.toJsonString() }},\n  \"search\": \"\",\n  \"queries\": []\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[2672,-192],"id":"4f762374-809c-4fef-8192-709df5d42cfb","name":"Move Contract to Campaign","executeOnce":true,"credentials":{"httpHeaderAuth":{"id":"8m4rEUBSWDBPr16s","name":"Instantly People Street PROD"}}},{"parameters":{"assignments":{"assignments":[{"id":"a5819072-5cbd-4050-81da-c3b3c9b7243e","name":"unique_id","value":"={{ $json.unique }}","type":"string"},{"id":"2dd64dc4-73bb-49fa-9940-5ff110a093e0","name":"first_name","value":"={{ $json.first_name }}","type":"string"},{"id":"3d001f07-fec1-4187-8879-eb04727bed52","name":"last_name","value":"={{ $json.last_name }}","type":"string"},{"id":"3de0f304-8a61-48a5-b208-6de5d46220ca","name":"linkedin_url","value":"={{ $json.linkedin }}","type":"string"},{"id":"9316cf3d-c220-4552-beff-f83696af26cd","name":"email","value":"={{ $json.email }}","type":"string"},{"id":"5394826b-e06e-413b-8d56-3a5dfeadbd4e","name":"position","value":"={{ $json.job_title }}","type":"string"},{"id":"0221ed58-11c3-49cd-a588-3c3409427fdc","name":"company_name","value":"={{ $json.company_name }}","type":"string"},{"id":"e9935b23-b9b0-4bad-9681-c2e968525ddf","name":"location","value":"={{ $json.country }}","type":"string"},{"id":"16a44128-1fec-4260-90ff-011ca5592837","name":"company_domain","value":"={{ $json.company_domain }}","type":"string"},{"id":"dc3b549c-a2b9-46a9-8274-6cb7c59bd8a4","name":"company_link","value":"={{ $json.company_linkedin }}","type":"string"},{"id":"a1dbdfcf-fd22-466c-aaef-af9d1d555d19","name":"company_size","value":"={{ $json.company_size }}","type":"number"},{"id":"852a8743-dacf-4984-b662-064848096189","name":"functional_level","value":"={{ $json.functional_level }}","type":"string"},{"id":"cd1a5a14-51f1-4e8c-a6ef-b367d2ca54af","name":"city","value":"={{ $json.city }}","type":"string"},{"id":"a6dd2bb2-c96c-4148-8a82-d3e250fb06e9","name":"state","value":"={{ $json.state }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1552,208],"id":"e77834b8-5edb-4666-9198-33058722266c","name":"Set Data"},{"parameters":{"operation":"update","documentId":{"__rl":true,"value":"1I3NtHjH-p_oUlcg0PFlTqlvCAyIbDdT9eqxU_0hU9Jc","mode":"list","cachedResultName":"People Street Lead List - Apollo","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1I3NtHjH-p_oUlcg0PFlTqlvCAyIbDdT9eqxU_0hU9Jc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":374785923,"mode":"list","cachedResultName":"UAT_APIFY","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1I3NtHjH-p_oUlcg0PFlTqlvCAyIbDdT9eqxU_0hU9Jc/edit#gid=374785923"},"columns":{"mappingMode":"defineBelow","value":{"unique":"={{ $json.unique_id }}","is_add_campagin_instantly":"true"},"matchingColumns":["unique"],"schema":[{"id":"unique","displayName":"unique","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"is_add_campagin_heyreach","displayName":"is_add_campagin_heyreach","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"is_add_campagin_instantly","displayName":"is_add_campagin_instantly","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"first_name","displayName":"first_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"last_name","displayName":"last_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"email","displayName":"email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"mobile_number","displayName":"mobile_number","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"personal_email","displayName":"personal_email","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"company_name","displayName":"company_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"company_website","displayName":"company_website","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"linkedin","displayName":"linkedin","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"full_name","displayName":"full_name","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"job_title","displayName":"job_title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"industry","displayName":"industry","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"headline","displayName":"headline","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"seniority_level","displayName":"seniority_level","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"company_linkedin","displayName":"company_linkedin","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"functional_level","displayName":"functional_level","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"company_size","displayName":"company_size","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"city","displayName":"city","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"state","displayName":"state","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"country","displayName":"country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"company_annual_revenue","displayName":"company_annual_revenue","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"company_annual_revenue_clean","displayName":"company_annual_revenue_clean","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"company_description","displayName":"company_description","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"company_total_funding","displayName":"company_total_funding","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"company_total_funding_clean","displayName":"company_total_funding_clean","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"keywords","displayName":"keywords","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"company_technologies","displayName":"company_technologies","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"company_linkedin_uid","displayName":"company_linkedin_uid","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"company_founded_year","displayName":"company_founded_year","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"company_domain","displayName":"company_domain","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"company_phone","displayName":"company_phone","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"company_street_address","displayName":"company_street_address","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"company_full_address","displayName":"company_full_address","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"company_state","displayName":"company_state","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"company_city","displayName":"company_city","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"company_country","displayName":"company_country","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"company_postal_code","displayName":"company_postal_code","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"row_number","displayName":"row_number","required":false,"defaultMatch":false,"display":true,"type":"number","canBeUsedToMatch":true,"readOnly":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[1936,96],"id":"71673d52-6e61-4976-8906-bd59a30ad156","name":"Update Unique","credentials":{"googleSheetsOAuth2Api":{"id":"RRGrkQ02VEC4ffU0","name":"Engineer Google"}}},{"parameters":{"assignments":{"assignments":[{"id":"3fe8e4d3-a43b-490c-959a-77e9cdf3f096","name":"list_id","value":"61aa6e85-0244-4920-b761-693a18123474","type":"string"},{"id":"71e10b26-1d4f-4e7f-bd4b-3d5e2f9c433d","name":"limit_leads","value":"100","type":"string"},{"id":"6eb5c7fe-e473-4461-97af-b90da9bb6337","name":"campaign_id","value":"521dfd18-5b42-4d93-b2c8-6a517c51f7d6","type":"string"},{"id":"987bc993-3581-49a6-8035-b9bef9ed4b70","name":"index_loop","value":"={{ $runIndex + 1 }}","type":"string"},{"id":"c28f3bb6-fa75-463d-97f5-bb150a9ecd2a","name":"length_loop","value":"12","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1568,-192],"id":"f2da4ef0-ba1a-4616-a3fa-aa6aa019bf9d","name":"Edit Fields","executeOnce":true},{"parameters":{"amount":1},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[2448,-192],"id":"4bba7759-208c-4268-98ea-497fe7d558e0","name":"Wait2","webhookId":"b0a1a986-6e61-447f-8e11-e94db7646853"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"388353ba-c1a4-4e48-a379-922c9bbfe9ef","leftValue":"={{ $('Edit Fields').item.json.index_loop }}","rightValue":"={{ $('Edit Fields').item.json.length_loop }}","operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2880,-192],"id":"7bff2ebb-323e-4022-bb64-a89497fbf855","name":"Is End of Loop"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"f0c14ccb-8e00-44e5-91de-aab26770c107","leftValue":"={{ $json.items }}","rightValue":"","operator":{"type":"array","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[2016,-192],"id":"821f77ee-c373-48f1-b442-24e93381b431","name":"If"}],"connections":{"Loop Over Items":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Set Data","type":"main","index":0}]]},"Save email Lead List":{"main":[[{"node":"Wait","type":"main","index":0}],[]]},"Wait":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Default Variant":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Default Variant","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Filter","type":"main","index":0}]]},"Filter":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Get array of emails":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Choose Contract email from Lead List":{"main":[[{"node":"If","type":"main","index":0}]]},"Move Contract to Campaign":{"main":[[{"node":"Is End of Loop","type":"main","index":0}]]},"Set Data":{"main":[[{"node":"Save email Lead List","type":"main","index":0},{"node":"Update Unique","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Choose Contract email from Lead List","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Move Contract to Campaign","type":"main","index":0}]]},"Is End of Loop":{"main":[[],[{"node":"Wait1","type":"main","index":0}]]},"If":{"main":[[{"node":"Get array of emails","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"versionId":"cf0b882e-50ad-41d9-b065-cc0bda51d4ea","triggerCount":0,"shared":[{"createdAt":"2025-12-20T15:21:40.088Z","updatedAt":"2025-12-20T15:21:40.088Z","role":"workflow:owner","workflowId":"QdqvYbpcQ8Gjhwry","projectId":"K1I3F6pgq5BCLa0R"}],"tags":[]}