workflows/[People Street] - Workflow 6 - Sub Module Add To CRM.json
{"createdAt":"2025-12-31T09:30:35.217Z","updatedAt":"2025-12-31T09:47:28.332Z","id":"Lnix4dcpWGkCyopX","name":"[People Street] - Workflow 6 - Sub Module Add To CRM","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowInputs":{"values":[{"name":"email"},{"name":"linkedin_url"},{"name":"message"}]}},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-6416,-128],"id":"8db897bc-2c11-4c85-a6bc-5e87cfac5584","name":"When Executed by Another Workflow"},{"parameters":{"method":"POST","url":"https://api.productive.io/api/v2/companies","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Organization-Id","value":"=53224"},{"name":"Content-Type","value":"application/vnd.api+json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"data\": {\n    \"type\": \"companies\",\n    \"attributes\": {\n      \"name\": {{\n        (\n          $('Find Lead With Email').item.json.company_name ||\n          (\n            $('Find Lead With Email').item.json.first_name + \" \" +\n            $('Find Lead With Email').item.json.last_name\n          ) ||\n          \"Unknown Company\"\n        ).toJsonString()\n      }},\n      \"contact\": {\n        \"phones\": [\n          {\n            \"name\": \"Main\",\n            \"phone\": {{\n              $('Find Lead With Email').item.json.generic_phone\n                ? String($('Find Lead With Email').item.json.generic_phone).toJsonString()\n                : null\n            }}\n          }\n        ],\n        \"websites\": [\n          {\n            \"name\": \"Website\",\n            \"website\": {{\n              $('Find Lead With Email').item.json.company_domain\n                ? $('Find Lead With Email').item.json.company_domain.toJsonString()\n                : null\n            }}\n          }\n        ],\n        \"addresses\": [\n          {\n            \"name\": \"Headquarter\",\n            \"country\": {{\n              $('Find Lead With Email').item.json.location\n                ? $('Find Lead With Email').item.json.location.toJsonString()\n                : null\n            }}\n          }\n        ]\n      }\n    }\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3936,-16],"id":"c1f25faa-3888-4cd8-bfc2-85f21edd9253","name":"Create Company","credentials":{"httpHeaderAuth":{"id":"CzI0Fp0REIIqSIr4","name":"Productive.io CRM UAT"}}},{"parameters":{"documentId":{"__rl":true,"value":"1I3NtHjH-p_oUlcg0PFlTqlvCAyIbDdT9eqxU_0hU9Jc","mode":"list","cachedResultName":"People Street Lead List - Apollo","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1I3NtHjH-p_oUlcg0PFlTqlvCAyIbDdT9eqxU_0hU9Jc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":374785923,"mode":"list","cachedResultName":"UAT_APIFY","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1I3NtHjH-p_oUlcg0PFlTqlvCAyIbDdT9eqxU_0hU9Jc/edit#gid=374785923"},"filtersUI":{"values":[{"lookupColumn":"email","lookupValue":"={{ $('Edit Fields').item.json.email }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-5536,-256],"id":"d1ff6282-efa4-4fcc-b227-bc7f3fb662c2","name":"Find Lead With Email","credentials":{"googleSheetsOAuth2Api":{"id":"RRGrkQ02VEC4ffU0","name":"Engineer Google"}}},{"parameters":{"method":"POST","url":"https://api.productive.io/api/v2/people","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Organization-Id","value":"=53224"},{"name":"Content-Type","value":"application/vnd.api+json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"data\": {\n    \"type\": \"people\",\n    \"attributes\": {\n      \"first_name\": \"{{ $('Find Lead With Email').item.json.first_name || 'Unknown' }}\",\n      \"last_name\": \"{{ $('Find Lead With Email').item.json.last_name || '' }}\",\n     \"title\": \"{{ $('Find Lead With Email').item.json.position }}\",\n      \"email\": \"{{ $('Find Lead With Email').item.json.email || $('Find Lead With Email').item.json.personal_email || '' }}\",\n     \"custom_fields\": {\n        \"{{ $json.id_custom_status }}\": \"{{ $json.id_replied }}\"\n      }\n    },\n    \"relationships\": {\n      \"company\": {\n        \"data\": {\n          \"type\": \"companies\",\n          \"id\": \"{{ $json.company_id }}\"\n        }\n      }\n    }\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2368,-352],"id":"37446bc0-e06a-4f05-9d25-f53a982fad14","name":"Create People","credentials":{"httpHeaderAuth":{"id":"CzI0Fp0REIIqSIr4","name":"Productive.io CRM UAT"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-3456,176],"id":"fbc3e3da-20c7-473a-92a5-b862f0a52ccd","name":"Wait","webhookId":"72445544-9170-46fd-af50-ea4626bf59e4"},{"parameters":{"assignments":{"assignments":[{"id":"a211acd3-a781-4331-a525-1629a4c39b70","name":"id_custom_status","value":"213463","type":"string"},{"id":"22a23ad2-055c-4915-aca6-50b33b2a5ca6","name":"id_replied","value":"421483","type":"string"},{"id":"600adb6c-c826-4cbc-be55-3bf9cbbbd6f0","name":"company_id","value":"={{ $('Json Parsed Search Company').item.json.data[0].id }}","type":"string"},{"id":"328173ff-ec76-4e24-acc6-d32ce0b59079","name":"deal_id","value":"={{ $('Json Parsed Search Deal').item.json.data[0].id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2592,-352],"id":"a4cd4c0c-d0a6-4005-bc76-bdd90511f31b","name":"Edit Fields1"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-3936,-256],"id":"1dd097a0-4343-420f-8396-b2ee69c861b1","name":"Wait1","webhookId":"1f60deab-0a29-4fd4-be09-e25707a3c284"},{"parameters":{"assignments":{"assignments":[{"id":"1789d02d-ba77-45fa-ae9b-9b44ad44e44a","name":"=domain","value":"={{ $json.company_domain ? $json.company_domain .replace(/^https?:\\/\\//, '') .replace(/^www\\./, '') .replace(/\\/$/, '') : null }}","type":"string"}]},"includeOtherFields":true,"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4832,-144],"id":"4bf34159-10c3-4440-a82c-836c7d0b6c12","name":"Edit Fields2"},{"parameters":{"url":"https://api.productive.io/api/v2/companies","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"filter[name]","value":"={{ $json.company_name }}"},{"name":"filter[status]","value":"1"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Organization-Id","value":"=53224"},{"name":"Content-Type","value":"application/vnd.api+json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4608,-144],"id":"70a8508c-b2c6-429a-9805-faeb2d7eba8a","name":"Search Company","alwaysOutputData":false,"credentials":{"httpHeaderAuth":{"id":"CzI0Fp0REIIqSIr4","name":"Productive.io CRM UAT"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d7a0937f-4268-4b82-9712-69a676948bbe","leftValue":"={{ $json.data.length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-4160,-144],"id":"18f60448-1cd9-4567-abd2-cc954eded910","name":"If"},{"parameters":{"assignments":{"assignments":[{"id":"e8c73bcc-d3ae-431c-b775-c173b0ad7f5b","name":"company_id","value":"={{ $json.data[0].id }}","type":"string"},{"id":"f3970137-22a0-4f8a-b069-fbc6747eb002","name":"init_deals_status","value":"659270","type":"string"},{"id":"4751654a-50df-44e4-a19b-d63e6dd87878","name":"company_name","value":"={{ $json.data[0].attributes.name }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-3696,-256],"id":"ba7f410a-e510-4831-bb72-6663cde246d5","name":"Edit Fields3"},{"parameters":{"url":"https://api.productive.io/api/v2/deals","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"filter[company_id]","value":"={{ $json.company_id }}"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Organization-Id","value":"=53224"},{"name":"Content-Type","value":"application/vnd.api+json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3296,-256],"id":"ed79f696-bbf6-425b-b660-e7cf1e2ae269","name":"Search Deals","alwaysOutputData":false,"credentials":{"httpHeaderAuth":{"id":"CzI0Fp0REIIqSIr4","name":"Productive.io CRM UAT"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"d7a0937f-4268-4b82-9712-69a676948bbe","leftValue":"={{ $json.data.length }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-2816,-256],"id":"604a2027-0d09-45bc-b60e-bf665f402be8","name":"Is Exist"},{"parameters":{"amount":2},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1776,-160],"id":"a6416709-04cb-4597-af1d-ef15047f22ef","name":"Wait2","webhookId":"72445544-9170-46fd-af50-ea4626bf59e4"},{"parameters":{"method":"POST","url":"https://api.productive.io/api/v2/deals","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Organization-Id","value":"=53224"},{"name":"Content-Type","value":"application/vnd.api+json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n    \"data\": {\n      \"type\": \"deals\",\n      \"attributes\": {\n        \"name\": \"{{ $json.name }}\",\n        \"date\": \"{{ $json.date_now }}\",\n        \"deal_type_id\": 2,\n        \"probability\": 50,\n        \"currency\": \"{{ $json.currency }}\",\n        \"budget\": false\n      },\n      \"relationships\": {\n        \"company\": {\n          \"data\": { \"type\": \"companies\", \"id\": \"{{ $json.company_id }}\" }\n        },\n      \"responsible\": {\n          \"data\": { \"type\": \"people\", \"id\": \"{{ $json.owner_org_people_id }}\" }\n        },\n        \"deal_status\": {\n          \"data\": { \"type\": \"deal-statuses\", \"id\": \"{{ $json.init_deals_status }}\" }\n        }\n      }\n    }\n  }","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2336,-160],"id":"85ba1bd8-852d-4682-9974-2328a3a4bc28","name":"Create Deal","credentials":{"httpHeaderAuth":{"id":"CzI0Fp0REIIqSIr4","name":"Productive.io CRM UAT"}}},{"parameters":{"assignments":{"assignments":[{"id":"71b01c99-a49b-4e1a-b070-a5703aed99c8","name":"name","value":"={{ $('Edit Fields3').item.json.company_name }} Deals","type":"string"},{"id":"71cf2cf7-3db7-4d59-a20f-a98d80dc956d","name":"company_id","value":"={{ $('Edit Fields3').item.json.company_id }}","type":"string"},{"id":"bc6ea1df-fcd4-4791-824d-14992cfd1b1b","name":"init_deals_status","value":"={{ $('Edit Fields3').item.json.init_deals_status }}","type":"string"},{"id":"06a3cbf8-8877-429b-b85a-cfb508b73833","name":"currency","value":"USD","type":"string"},{"id":"c55c0527-7605-4d41-b2a7-e31020f36f91","name":"owner_org_people_id","value":"1144675","type":"string"},{"id":"60b861ad-572a-42eb-8254-3a2175d2eb38","name":"date_now","value":"={{ $now.toISODate() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2576,-160],"id":"80b8cd85-4b86-4eb7-9fad-6458c2239e39","name":"Deal Info Setup"},{"parameters":{"jsCode":"const parsed = JSON.parse($json.data);\nreturn [{ json: parsed }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3680,64],"id":"2a3f9740-94b5-4948-b09d-b8d4b4fd7974","name":"Json Parsed Create Company"},{"parameters":{"jsCode":"const parsed = JSON.parse($json.data);\nreturn [{ json: parsed }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-4384,-144],"id":"3eb0ace6-4583-464d-8167-67d8a852814c","name":"Json Parsed Search Company"},{"parameters":{"jsCode":"const parsed = JSON.parse($json.data);\n\nparsed.data = (parsed.data || [])\n  .filter(d => d.attributes?.deleted_at === null)\n  .sort((a, b) => {\n    const ta =\n      a.attributes.last_activity_at ||\n      a.attributes.sales_status_updated_at ||\n      a.attributes.created_at;\n\n    const tb =\n      b.attributes.last_activity_at ||\n      b.attributes.sales_status_updated_at ||\n      b.attributes.created_at;\n\n    return new Date(tb) - new Date(ta);\n  });\n\nreturn [{ json: parsed }];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-3040,-256],"id":"e43a781b-72bf-40ed-a58d-786919d42f6b","name":"Json Parsed Search Deal"},{"parameters":{"jsCode":"const parsed = JSON.parse($json.data);\nreturn [{ json: parsed }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2064,-160],"id":"36e35e38-4747-4bb7-a390-fb4dc8eb5761","name":"Json Parsed Create Deal"},{"parameters":{"assignments":{"assignments":[{"id":"df0c7f58-bafd-41a5-9d0f-176021375658","name":"people_id","value":"={{ $json.data.id }}","type":"string"},{"id":"f282d683-b63f-49b9-b9cf-e4b9d821008d","name":"deal_id","value":"={{ $('Json Parsed Search Deal').item.json.data[0].id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1920,-352],"id":"f7b6bbb5-04e1-495f-b83d-71e25e698914","name":"Edit Fields4"},{"parameters":{"jsCode":"const parsed = JSON.parse($json.data);\nreturn [{ json: parsed }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2144,-352],"id":"d06e40bb-4c2e-4327-9ac1-a6646e56f0ce","name":"Json Parsed Create People"},{"parameters":{"method":"PATCH","url":"=https://api.productive.io/api/v2/deals/{{ $json.deal_id }} ","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"X-Organization-Id","value":"=53224"},{"name":"Content-Type","value":"application/vnd.api+json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"data\": {\n    \"type\": \"deals\",\n    \"relationships\": {\n      \"contact\": {\n        \"data\": {\n          \"type\": \"people\",\n          \"id\": \"{{ $json.people_id }}\"\n        }\n      }\n    }\n  }\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1472,-352],"id":"fa124b8e-68f4-4d3e-a27a-e931e4db1614","name":"Update Deal Have People","credentials":{"httpHeaderAuth":{"id":"CzI0Fp0REIIqSIr4","name":"Productive.io CRM UAT"}}},{"parameters":{},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[-1696,-352],"id":"86e4ffb9-4e97-4ba8-addf-2157175de13e","name":"Wait3","webhookId":"849ea94b-ac9a-46f6-8e35-4ae56d5ed815"},{"parameters":{"jsCode":"const parsed = JSON.parse($json.data);\nreturn [{ json: parsed }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1248,-352],"id":"7575c0e1-d3ea-417a-a18e-7bad63c03467","name":"Json Parsed Create People1"},{"parameters":{"assignments":{"assignments":[{"id":"86a4db44-f127-434e-8193-809fd9e5716a","name":"email","value":"={{ $json.email }}","type":"string"},{"id":"4416d5ff-19c5-4048-93ca-d31db6ad6ec7","name":"linkedin_url","value":"={{ $json.linkedin_url }}","type":"string"},{"id":"68a10242-6a17-4b49-a346-c2b16f9c0552","name":"message","value":"={{ $json.message }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-6144,-128],"id":"05661e7e-9f2b-4ca2-a8ae-a92ed277baa5","name":"Edit Fields"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $('Edit Fields').item.json.email }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true},"id":"7f94c5ef-df1b-47d6-8b54-fcb0708c9187"}],"combinator":"and"},"renameOutput":true,"outputKey":"IS HAVE EMAIL"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"31c0a7e8-e7ad-497a-9b5e-9a3fea0ab0bb","leftValue":"={{ $('Edit Fields').item.json.linkedin_url }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"IS HAVE LINKEDIN"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-5904,-128],"id":"263eb2b4-04d2-4d9c-a161-62c2b1034130","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"cce97a39-26f0-478b-aff9-9978c731c774","name":"first_name","value":"={{ $json.first_name }}","type":"string"},{"id":"2978ba9e-c04d-41b3-88a6-0944a87cc514","name":"last_name","value":"={{ $json.last_name }}","type":"string"},{"id":"4f6da7db-bbd0-4c2a-84f8-b81fa8376bac","name":"email","value":"={{ $json.email }}","type":"string"},{"id":"9a46d725-ffdc-4e39-b516-22df3e1a3c73","name":"mobile_number","value":"={{ $json.mobile_number }}","type":"string"},{"id":"b141ec41-85f0-4150-8975-cea02635b8da","name":"personal_email","value":"={{ $json.personal_email }}","type":"string"},{"id":"6640d7ed-671a-4af2-9ae7-db01b449e5a1","name":"company_name","value":"={{ $json.company_name }}","type":"string"},{"id":"90e97767-cb4d-431b-83fa-1723aaf7e32c","name":"company_website","value":"={{ $json.company_website }}","type":"string"},{"id":"7cc201cd-6595-406f-87f7-d795a3e447c5","name":"linkedin","value":"={{ $json.linkedin }}","type":"string"},{"id":"25342d63-f9a9-45a5-9942-e755a31bedec","name":"job_title","value":"={{ $json.job_title }}","type":"string"},{"id":"e5ad8d91-0bba-4709-b478-af6d0765acc5","name":"industry","value":"={{ $json.industry }}","type":"string"},{"id":"879bf775-e158-49ba-b603-fbe7e66e3f72","name":"company_size","value":"={{ $json.company_size }}","type":"number"},{"id":"6f3ac448-4ddf-4d49-bb2a-3c526c1f982b","name":"company_linkedin","value":"={{ $json.company_linkedin }}","type":"string"},{"id":"12d2daa0-a395-4eac-bae1-6da926d16c6f","name":"functional_level","value":"={{ $json.functional_level }}","type":"string"},{"id":"72f02175-56ac-461e-a1b1-e150c076f503","name":"city","value":"={{ $json.city }}","type":"string"},{"id":"c2d2fb70-bc5b-4a16-acc8-cbb72f486d9f","name":"country","value":"={{ $json.country }}","type":"string"},{"id":"faa98dba-f132-4026-b591-617128f6868d","name":"company_annual_revenue_clean","value":"={{ $json.company_annual_revenue_clean }}","type":"string"},{"id":"3ecadfcd-56bf-494b-a47c-235aa1fb5959","name":"company_annual_revenue","value":"={{ $json.company_annual_revenue }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-5136,-144],"id":"4b7fc14b-1f3b-4c2f-ba5a-c7b7db7798d5","name":"Lead Data"},{"parameters":{"documentId":{"__rl":true,"value":"1I3NtHjH-p_oUlcg0PFlTqlvCAyIbDdT9eqxU_0hU9Jc","mode":"list","cachedResultName":"People Street Lead List - Apollo","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1I3NtHjH-p_oUlcg0PFlTqlvCAyIbDdT9eqxU_0hU9Jc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":374785923,"mode":"list","cachedResultName":"UAT_APIFY","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1I3NtHjH-p_oUlcg0PFlTqlvCAyIbDdT9eqxU_0hU9Jc/edit#gid=374785923"},"filtersUI":{"values":[{"lookupColumn":"linkedin","lookupValue":"={{ $('Edit Fields').item.json.linkedin_url }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[-5536,-16],"id":"6f742532-768f-41e1-a1d9-37b76037c915","name":"Find Lead With Linkedin URL","credentials":{"googleSheetsOAuth2Api":{"id":"RRGrkQ02VEC4ffU0","name":"Engineer Google"}}}],"connections":{"Create Company":{"main":[[{"node":"Json Parsed Create Company","type":"main","index":0}]]},"Find Lead With Email":{"main":[[{"node":"Lead Data","type":"main","index":0}]]},"Create People":{"main":[[{"node":"Json Parsed Create People","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Create People","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Edit Fields3","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Search Company","type":"main","index":0}]]},"Search Company":{"main":[[{"node":"Json Parsed Search Company","type":"main","index":0}]]},"If":{"main":[[{"node":"Wait1","type":"main","index":0}],[{"node":"Create Company","type":"main","index":0}]]},"Edit Fields3":{"main":[[{"node":"Search Deals","type":"main","index":0}]]},"Search Deals":{"main":[[{"node":"Json Parsed Search Deal","type":"main","index":0}]]},"Is Exist":{"main":[[{"node":"Edit Fields1","type":"main","index":0}],[{"node":"Deal Info Setup","type":"main","index":0}]]},"Wait2":{"main":[[{"node":"Search Deals","type":"main","index":0}]]},"Create Deal":{"main":[[{"node":"Json Parsed Create Deal","type":"main","index":0}]]},"Deal Info Setup":{"main":[[{"node":"Create Deal","type":"main","index":0}]]},"Json Parsed Create Company":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Json Parsed Search Company":{"main":[[{"node":"If","type":"main","index":0}]]},"Json Parsed Search Deal":{"main":[[{"node":"Is Exist","type":"main","index":0}]]},"Json Parsed Create Deal":{"main":[[{"node":"Wait2","type":"main","index":0}]]},"Edit Fields4":{"main":[[{"node":"Wait3","type":"main","index":0}]]},"Json Parsed Create People":{"main":[[{"node":"Edit Fields4","type":"main","index":0}]]},"Update Deal Have People":{"main":[[{"node":"Json Parsed Create People1","type":"main","index":0}]]},"Wait3":{"main":[[{"node":"Update Deal Have People","type":"main","index":0}]]},"When Executed by Another Workflow":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Find Lead With Email","type":"main","index":0}],[{"node":"Find Lead With Linkedin URL","type":"main","index":0}]]},"Lead Data":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Find Lead With Linkedin URL":{"main":[[{"node":"Lead Data","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"versionId":"4de394ea-e319-421e-badc-796a5a47cedf","triggerCount":0,"shared":[{"createdAt":"2025-12-31T09:30:35.217Z","updatedAt":"2025-12-31T09:30:35.217Z","role":"workflow:owner","workflowId":"Lnix4dcpWGkCyopX","projectId":"K1I3F6pgq5BCLa0R"}],"tags":[]}