workflows/[Signal Outreach] Webhook Listen Trigger.json
{"createdAt":"2025-12-15T09:42:51.073Z","updatedAt":"2025-12-20T05:33:37.989Z","id":"oWeBQOPSgdqphYSe","name":"[Signal Outreach] Webhook Listen Trigger","active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"signal-doing","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2.1,"position":[-352,0],"id":"37a889e0-7b6c-45f3-bd1b-419c49c38c89","name":"Webhook","webhookId":"4a350254-0c10-4592-ad8e-d74f4d5d9a41"},{"parameters":{"assignments":{"assignments":[{"id":"5d8438d0-1c04-4d64-b195-98536341dba7","name":"event","value":"={{ $json.event }}","type":"string"},{"id":"42719736-b6a4-46ae-8df5-994c05c28859","name":"old_value","value":"={{ $json.old_value }}","type":"string"},{"id":"e7e8df28-390a-4054-bf58-17063b8c5066","name":"new_value","value":"={{ $json.new_value }}","type":"string"},{"id":"a9aaee71-a2bd-4c38-b62d-7830c8996a16","name":"lead_id","value":"={{ $json.lead_id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-96,0],"id":"62c2cd1d-0eaa-49aa-9ad8-7269610d3650","name":"Edit Fields"},{"parameters":{"workflowId":{"__rl":true,"value":"3vSE32lEIYmjJhef","mode":"list","cachedResultUrl":"/workflow/3vSE32lEIYmjJhef","cachedResultName":"[Signal Outreach] Trigger Instantly"},"workflowInputs":{"mappingMode":"defineBelow","value":null,"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[640,208],"id":"d43d9185-b94a-4558-b5d4-b55655aba225","name":"Trigger Instantly"},{"parameters":{"workflowId":{"__rl":true,"value":"gKU7PdMlV0NO9x5E","mode":"list","cachedResultUrl":"/workflow/gKU7PdMlV0NO9x5E","cachedResultName":"[Signal Outreach] Trigger CRM"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[640,-176],"id":"7a2c2b95-dcc5-4bbb-bf7e-6cb221793fd5","name":"Trigger CRM"},{"parameters":{"workflowId":{"__rl":true,"value":"6Bjt7tWL177m9Trh","mode":"list","cachedResultUrl":"/workflow/6Bjt7tWL177m9Trh","cachedResultName":"[Signal Outreach] Trigger Meetalfred Linkedin"},"workflowInputs":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.3,"position":[640,0],"id":"d4d387a0-7dec-4f1d-9956-4bd4ddae1341","name":"Trigger Linkedin Campagin"},{"parameters":{"documentId":{"__rl":true,"value":"112HmusUq3Lzj2w-JqXN-SOTqdu8aiNtJw7M1EVAwRx0","mode":"list","cachedResultName":"Signal OutReach Lead List","cachedResultUrl":"https://docs.google.com/spreadsheets/d/112HmusUq3Lzj2w-JqXN-SOTqdu8aiNtJw7M1EVAwRx0/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"UAT","cachedResultUrl":"https://docs.google.com/spreadsheets/d/112HmusUq3Lzj2w-JqXN-SOTqdu8aiNtJw7M1EVAwRx0/edit#gid=0"},"filtersUI":{"values":[{"lookupColumn":"unique_id","lookupValue":"={{ $json.lead_id }}"}]},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[128,0],"id":"6b5c42a3-b193-4f0e-bc5b-a9f88fe8b8e5","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"RRGrkQ02VEC4ffU0","name":"Engineer Google"}}}],"connections":{"Webhook":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Trigger CRM","type":"main","index":0},{"node":"Trigger Linkedin Campagin","type":"main","index":0},{"node":"Trigger Instantly","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"versionId":"4add2e10-8515-4a27-8754-f63384ca633d","triggerCount":0,"shared":[{"createdAt":"2025-12-15T09:42:51.073Z","updatedAt":"2025-12-15T09:42:51.073Z","role":"workflow:owner","workflowId":"oWeBQOPSgdqphYSe","projectId":"K1I3F6pgq5BCLa0R"}],"tags":[{"createdAt":"2025-12-15T11:43:34.613Z","updatedAt":"2025-12-15T12:37:13.186Z","id":"SmlGPs8NyYNscCiG","name":"Signal Outreach"}]}