workflows/Backup workflow.json
{"createdAt":"2025-12-23T06:31:09.845Z","updatedAt":"2026-01-02T03:30:27.720Z","id":"ifbycjOagYZAm5n5","name":"Backup workflow","active":false,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"16a9182d-059d-4774-ba95-654fb4293fdb","leftValue":"={{ $json.error }}","rightValue":"","operator":{"type":"string","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"id":"26cd0d19-e037-46e2-8bc0-f0f136f6c4da","name":"If","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[400,528]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e0c66624-429a-4f1f-bf7b-1cc1b32bad7b","leftValue":"={{ $json.content }}","rightValue":"={{ $('Loop Over Items2').item.json.toJsonString() }}","operator":{"type":"string","operation":"notEquals"}}],"combinator":"and"},"options":{}},"id":"6865cadc-888a-4891-8d60-44ce5fff05ab","name":"If1","type":"n8n-nodes-base.if","typeVersion":2.2,"position":[848,512]},{"parameters":{"jsCode":"let items = $input.all()\n\nfor (item of items) {\n    item.json.content = Buffer.from(item.json.content, 'base64').toString('utf8')\n}\n\nreturn items;\n"},"id":"dc6f8888-4160-47d3-8afd-70fda420429e","name":"Code","type":"n8n-nodes-base.code","typeVersion":2,"position":[640,512]},{"parameters":{"resource":"file","owner":"={{$node[\"Globals1\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals1\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals1\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items2').item.json.name }}.json","fileContent":"={{ $('Loop Over Items2').item.json.toJsonString()  }}","commitMessage":"=[N8N Backup] {{ $('Loop Over Items2').item.json.name }}.json"},"name":"Create new file and commit","type":"n8n-nodes-base.github","position":[640,784],"typeVersion":1,"id":"55a96a30-e351-491a-bdea-af88bbc68620","webhookId":"8491fde6-8f34-4d5b-9b68-1f6206cc779e","retryOnFail":false,"credentials":{"githubApi":{"id":"SQ3BuKng7p16cJXD","name":"GitHub account"}},"onError":"continueErrorOutput"},{"parameters":{"resource":"file","operation":"edit","owner":"={{$node[\"Globals1\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals1\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals1\"].json[\"repo\"][\"path\"]}}{{ $('Loop Over Items2').item.json.name }}.json","fileContent":"={{ $('Loop Over Items2').item.json.toJsonString()  }}","commitMessage":"=[N8N Backup] {{ $('Loop Over Items2').item.json.name }}.json"},"name":"Update file content and commit","type":"n8n-nodes-base.github","position":[1088,496],"typeVersion":1,"id":"8255b748-8a01-4c63-9d19-546f1bc36723","webhookId":"e08d3b22-5d7c-4d08-bd6f-79f52c11760c","credentials":{"githubApi":{"id":"SQ3BuKng7p16cJXD","name":"GitHub account"}}},{"parameters":{"options":{}},"id":"6d295d3e-8eaa-4290-9dd4-39770fe08df8","name":"Loop Over Items2","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-48,448],"executeOnce":false},{"parameters":{"content":"## Edit this node 👇\nrepo.owner = id github count\nrepo.name = github repo name","height":100,"width":270,"color":4},"id":"5047ab37-567d-46a3-a699-184413bd4ea6","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[-64,112],"typeVersion":1},{"parameters":{"resource":"file","operation":"get","owner":"={{$node[\"Globals1\"].json[\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals1\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals1\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json","asBinaryProperty":false,"additionalParameters":{}},"name":"Get a file","type":"n8n-nodes-base.github","position":[192,464],"typeVersion":1,"alwaysOutputData":true,"id":"4fd56e99-619d-4597-b394-f0cf8685fa0c","webhookId":"31886b56-83f2-44ff-ada2-cf2b62a11651","credentials":{"githubApi":{"id":"SQ3BuKng7p16cJXD","name":"GitHub account"}},"continueOnFail":true},{"parameters":{"values":{"string":[{"name":"repo.owner","value":"web3sea"},{"name":"repo.name","value":"backup_n8n_selfhost"},{"name":"repo.path","value":"workflows/"}]},"options":{}},"name":"Globals1","type":"n8n-nodes-base.set","position":[192,240],"typeVersion":1,"id":"d161209a-ff51-484f-8af4-563dd8fa7e84"},{"parameters":{"filters":{"activeWorkflows":false,"excludePinnedData":true},"requestOptions":{}},"id":"d7250b41-4d96-459c-a783-812e2999d7bf","name":"Get many workflows","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[400,240],"credentials":{"n8nApi":{"id":"jySj7bhX9a7FwdLd","name":"n8n account"}}},{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":10}]}},"id":"c61a5708-06db-47e8-b85a-5f0de0db5967","name":"Every 10 mins","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-48,240]},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1296,864],"id":"b427aefb-c8dc-432b-a405-0e661cdd33d2","name":"Wait","webhookId":"a0386b0e-868d-442e-9087-69d05c3ff278"},{"parameters":{"amount":10},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[896,784],"id":"ac15503c-4dc9-440a-bdfd-ab9d5cd36794","name":"Wait1","webhookId":"a0386b0e-868d-442e-9087-69d05c3ff278"}],"connections":{"If":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Create new file and commit","type":"main","index":0}]]},"If1":{"main":[[{"node":"Update file content and commit","type":"main","index":0}],[{"node":"Loop Over Items2","type":"main","index":0}]]},"Code":{"main":[[{"node":"If1","type":"main","index":0}]]},"Create new file and commit":{"main":[[{"node":"Wait1","type":"main","index":0}],[{"node":"Wait1","type":"main","index":0}]]},"Update file content and commit":{"main":[[{"node":"Wait","type":"main","index":0}]]},"Loop Over Items2":{"main":[[],[{"node":"Get a file","type":"main","index":0}]]},"Get a file":{"main":[[{"node":"If","type":"main","index":0}]]},"Globals1":{"main":[[{"node":"Get many workflows","type":"main","index":0}]]},"Get many workflows":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Every 10 mins":{"main":[[{"node":"Globals1","type":"main","index":0}]]},"Wait":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]},"Wait1":{"main":[[{"node":"Loop Over Items2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"versionId":"b9f54bb6-da09-4868-94fa-be82cb6e7723","triggerCount":0,"shared":[{"createdAt":"2025-12-23T06:31:09.845Z","updatedAt":"2025-12-23T06:31:09.845Z","role":"workflow:owner","workflowId":"ifbycjOagYZAm5n5","projectId":"K1I3F6pgq5BCLa0R"}],"tags":[]}